section 
    h1 59歳男性の急性肝炎様
      br
      | 自己免疫性肝炎の1例

    h4 東京逓信病院 消化器内科、*同病理科、**同放射線科
      br
      | ***聖マリアンナ医科大学病理科
    p 平川雄亮、北村和貴子、古谷建悟、加藤知爾  
      br
      | 大久保政雄、小林克也、関川憲一郎、光井洋、橋本直明  
      br
      | *岸田由起子、*田村浩一、**鈴木丈夫、***小池淳樹
section
  .row
    h3 日本肝臓学会
      br
      | 発表者のCOI開示
  .row
    .text-center 演題発表に関連し、発表者らに開示すべき<br>COI関係にある企業などはありません。
    br
    br
    small(style="color:gray;") 発表者名 <br>平川雄亮、北村和貴子、古谷建悟、加藤知爾、大久保政雄, 小林克也<br>関川憲一郎、光井洋、橋本直明、岸田由起子、田村浩一、鈴木丈夫
section
  h2 症例： 59歳、男性
  dl
    dt 主訴   
    dd 茶褐色便、濃染尿、食欲不振、全身倦怠感 
  dl
    dt 現病歴  
    dd 検診を定期的に受けており、肝機能異常を指摘されたことがなかった。  
    dd 入院17日前に咽頭痛と咳嗽を自覚したが、市販薬で症状は改善した。  
    dd 10日前に尿の濃染と食思不振を認めたが、様子を見ていた。    
    dd 5日前から1日前にかけて会社の出張でフィリピンを視察したが、  
    dd 帰国後も尿の濃染と食思不振が持続したため、近医を受診。  
    dd 肝胆道系酵素の上昇を認めたため、同日入院となった(第1病日)。
section
  h2 症例： 59歳男性
  dl.dl-horizontal
    dt 既往歴
    dd 高脂血症(54歳-)、高尿酸血症(57歳-)、飛蚊症、  
    dd 左真珠腫中耳炎(手術加療後)、内痔核(手術加療後)
  dl.dl-horizontal
    dt 内服歴
    dd アロプリノール 100 mg 1T1X
    dd エゼチミブ 10 mg 1T1X   
    dd ベザフィブラート 200 mg 2T2X、ルテイン1T1X 
    dd ヨウ素レシチン 100 μg 3T3X、市販のCa・Vit.D製剤
  dl.dl-horizontal 
    dt 生活歴  
    dd 飲酒:ウイスキー水割り5杯/週
    dd 喫煙:20本/日x16年(20歳~36歳)
  dl.dl-horizontal    
    dt 家族歴
    dd 祖母:胃癌、父:肺癌 
  dl.dl-horizontal 
    dt アレルギー
    dd food(-)、drug(-) 
  dl.dl-horizontal   
    dt 輸血/刺青 
    dd なし   
  dl.dl-horizontal 
    dt 渡航歴
    dd 約1年前にカンボジア、5日前から前日までフィリピン 
  dl.dl-horizontal  
    dt 性関係
    dd last contact: 2010年、Partner(女性)は同一

section
  h2 入院時現症
  dl.dl-horizontal
    dt 全身
    dd JCS-0, 身長 165.5 cm, 体重 70.8 kg, BMI 25.8 kg/㎡ 
  dl.dl-horizontal 
    dt Vital
    dd BT 36.6 ℃, PR 95 bpm, BP 150/99 mmHg  
  br
  dl.dl-horizontal    
    dt 頭頸部
    dd 眼瞼結膜貧血なし, 
      strong 眼球結膜黄染あり
    dd 頸部リンパ節腫脹なし 
  dl.dl-horizontal 
    dt 胸部 
    dd 肺野・心音異常なし 
  dl.dl-horizontal 
    dt 腹部 
    dd 平坦/軟, 圧痛なし, 腸蠕動音正常 
    dd: strong 右季肋部下に1.5横指肝臓触知
  dl.dl-horizontal
    dt 四肢 
    dd 下腿浮腫なし, 
      strong 両側手掌紅班あり
section
  h2 入院時検査所見
  .row
    .col-xs-4
      table.table.table-condensed(style="margin-top:-10px;font-size: 120%;")
        tr
          td: em 血算
          td
          td
        tr
          td WBC
          td 5700
          td /μl
        tr
          td Atypical
          td (ー)
          td
        tr
          td Hb
          td 13.1
          td g /dl
        tr
          td Hct
          td 38.6
          td %
        tr
          td Plt
          td 19.8
          td 万/μl
        tr
          td: em 凝固
          td
          td
        tr
          td PT
          td 98
          td %
        tr
          td: em 免疫
          td
          td
        tr.red
          td CRP
          td 0.52
          td mg/dl
        tr
          td IgG
          td 1100
          td mg/dl
        tr
          td IgM
          td 20
          td mg/dl
        tr
          td ANA
          td < 40
          td
        tr
          td SMA
          td (ー)
          td
        tr
          td AMA
          td (ー)
          td
    .col-xs-4
      table.table.table-condensed(style="margin-top:-10px;font-size: 120%;")
        tr
          td: em 生化学
          td
          td
        tr
          td Na
          td 144.1
          td mEq/l
        tr
          td K
          td 4.1
          td mEq/
        tr.red
          td ALP
          td 517
          td IU/l
        tr.red
          td AST
          td 1410
          td IU/l
        tr.red
          td ALT
          td 2060
          td IU/l
        tr.red
          td T.Bill
          td 6.3
          td mg/dl
        tr.red
          td D.Bill
          td 5.1
          td mg/dl
        tr
          td γ-GTP
          td 280
          td IU/l
        tr.red
          td LDH
          td 670
          td IU/l
        tr
          td Alb
          td 4.3
          td g/dl
        tr
          td BUN
          td 11.1
          td mg/dl
        tr
          td Cre
          td 0.85
          td mg/dl
        tr
          td T.Chol
          td 178
          td mg/dl
        tr.red
          td TG
          td 191
          td mg/dl
        tr.red
          td TBA
          td 274.2
          td μmol/l
        tr.red
          td Lypase
          td 119
          td IU/l
    .col-xs-4  
      table.table.table-condensed(style="margin-top:-10px;font-size: 120%;")    
        tr
          td: em 感染症
          td
          td
        tr
          td HIV Ab
          td (ー)
          td
        tr.red
          td CMV-IgG
          td 5.7
          td
        tr
          td CMV-IgM
          td 0.65
          td
        tr.red
          td EBV-IgG
          td 40
          td
        tr
          td EBV-IgM
          td < 10
          td
        tr
          td EBV-EBNA
          td < 10
          td
        tr
          td HBsAb
          td 0.1
          td mIU/ml
        tr.red
          td HBeAb
          td 31
          td %
        tr
          td HBeAg
          td 0.1
          td COI
        tr
          td IgMHBcAb
          td (ー)
          td
        tr
          td HBcAb
          td 0.2
          td COI
        tr
          td HBVDNA
          td (ー）
          td
        tr
          td IgMHA
          td (ー)
          td
        tr
          td HCVRNA
          td (ー)
          td
        tr
          td HCVAbEIA
          td 0.1
          td COI
        tr
          td IgAHEVAb
          td (ー)
          td

section
  section(data-background-color='#000000' data-background-video=src+"/CT第1病日.mp4" controls='controls')
  section(data-background-color='#000000')
    video(width='1280', height='650', controls='controls' data-autoplay)
      source(src=src+'/CT第1病日.mp4', type='video/mp4')

section
  h2 臨床経過
  .row
    .col-xs-8
      #container(style="width:100%; height:600px;")
    .col-xs-4.md-pl-40.fg-30
      p: em 鑑別
      ul
        li.fg-40.gray 肝炎ウイルス
        li.fg-40.gray 伝染性単核球症
        li 自己免疫性
        li.fg-50.gray 薬剤性
        li.fg-50.gray アルコール性
        li.fg-50.gray 脂肪肝
        li.fg-50.gray うっ血性
      .invisible-counter.fg-2
  script.
    $(document).ready(function() { 
      var myChart = Highcharts.chart('container', {
          chart: {
            type: 'area',
            zoomType: 'x'
          },
          title: {
            text: ''
          },
          tooltip:{
            enabled: false
          },
          legend:{
            symbolPadding: 15,
            symbolRadius: 24,
            useHTML: true,  
            itemStyle:{
              "fontSize": "30px", 
              "fontWeight": "bold"
            }
          },
          yAxis: {
            title: {
              text: '酵素活性',
              offset:80
            },
            labels:{
              y: 7
            },
            tickAmount: 6
          },
          plotOptions: {
            series: {
              fillOpacity: 0,
              zoneAxis: 'x',
              lineWidth: 5,
              marker: {
                radius: 7
              }
            }
          },
          xAxis: {
            type: 'linear',
            allowDecimals: false,
            tickPixelInterval:120,
            labels:{
              y:30
            },
            title: {
              text: '入院後日数'
            },
            plotBands: [{
              color: '#ddd', 
              from: 4.85, 
              to: 5.15,
              className: 'fg-1',
              label:{
                text: "<div class='gray-balloon fg-1'>SMNC 60ml</div>",
                useHTML:true
              }
            },{
              color: '#ddd', 
              from: 13.85, 
              to: 14.15,
              className: 'fg-60',
              label:{
                text: "<div class='gray-balloon fg-60'>肝生検</div>",
                useHTML:true
              }
            }]
          },
          series: [{
            name: 'ALT<small>(IU/l)</small>',
            data: [{"x":1, "y":2060}, {"x":3, "y":1900}, {"x":5, "y":2090}, {"x":6, "y":1560}, {"x":8, "y":998}, {"x":11, "y":679}, {"x":14, "y":642}]},
            {
            name: 'AST<small>(IU/l)</small>',
            data: [{"x":1, "y":1410}, {"x":3, "y":1478}, {"x":5, "y":1710}, {"x":6, "y":892}, {"x":8, "y":421}, {"x":11, "y":438}, {"x":14, "y":529}]},
            {
            name: 'LDH<small>(IU/l)</small>',
            data: [{"x":1, "y":670}, {"x":3, "y":612}, {"x":5, "y":667}, {"x":6, "y":279}, {"x":8, "y":240}, {"x":11, "y":248}, {"x":14, "y":291}]},
            {
            name: '総Bil<small>(mg/dl)</small>',
            data: [{"x":1, "y":6.3}, {"x":3, "y":6.6}, {"x":5, "y":10}, {"x":6, "y":11.9}, {"x":8, "y":15}, {"x":11, "y":21.4}, {"x":14, "y":26.4}]},
            {
            name: '直接Bil<small>(mg/dl)</small>',
            data: [{"x":1, "y":5.1}, {"x":3, "y":5.5}, {"x":5, "y":8.2}, {"x":6, "y":9.7}, {"x":8, "y":12.2}, {"x":11, "y":17.1}, {"x":14, "y":20.6}]}
          ]
      });
      var counter = 0;
      var series = myChart.series;
      var reset =()=> _.each(series,(data)=>{
          data.setVisible(false, false);
          data.update({ showInLegend: false}, false);
        }
      );
      var show_series=(list)=>{
        list.map((i)=>{
          series[i].show();
          series[i].update({ showInLegend: true }, false);
          }
        )
      }
      var show_series_only=(list)=>{
        reset();
        list.map((i)=>{
          series[i].show();
          series[i].update({ showInLegend: true }, false);
          }
        );
        myChart.redraw();
      }
      Reveal.addEventListener( 'fragmentshown', function( event ) {
        counter++;
        render(counter);
      });
      Reveal.addEventListener( 'fragmenthidden', function( event ) {
        counter--;
        render(counter);
      });
      Reveal.addEventListener( 'slidechanged', function( event ) {
         counter = 0;
         render(counter);
      });
      var render = (counter) =>{
        switch(counter){
          case 0:
            show_series_only([0,1,2]); break;
          case 2:
            show_series_only([3,4]); break;
          default: break; 
        }
      }
      render(counter);
    }); 

section(data-background-image=src+'/AIH_bx.png', data-background-repeat='repeat')

section
  h2 臨床経過
  .row
    .col-xs-12
      #container2(style="width:100%; height:600px;")
      .invisible-counter.fg-2
      .invisible-counter.fg-3
  script.
    $(document).ready(function() { 
      var myChart = Highcharts.chart('container2', {
          chart: {
            type: 'area',
            zoomType: 'x'
          },
          title: {
            text: ''
          },
          tooltip:{
            enabled: false
          },
          legend:{
            symbolPadding: 15,
            symbolRadius: 24,
            useHTML: true,  
            itemStyle:{
              "fontSize": "30px", 
              "fontWeight": "bold"
            }
          },
          yAxis: {
            title: {
              text: '酵素活性',
              offset:80
            },
            labels:{
              y: 7
            },
            tickAmount: 6
          },
          plotOptions: {
            series: {
              fillOpacity: 0,
              zoneAxis: 'x',
              lineWidth: 5,
              marker: {
                radius: 7
              }
            }
          },
          xAxis: {
            type: 'linear',
            allowDecimals: false,
            tickPixelInterval:120,
            labels:{
              y:30
            },
            title: {
              text: '入院後日数'
            },
            plotBands: [{
              color: '#ddd', 
              from: 4.85, 
              to: 5.15,
              label:{
                text: "<div class='gray-balloon'>SMNC 60ml</div>",
                useHTML:true
              }
            },{
              color: '#ddd', 
              from: 13.85, 
              to: 14.15,
              label:{
                text: "<div class='gray-balloon'>肝生検</div>",
                useHTML:true
              }
            },{
              color: '#d6f4ff', 
              from: 15.75, 
              to: 16.25,
              className: 'fg-1',
              label:{
                text: "<div class='balloon fg-1'>PSL 30mg開始</div>",
                useHTML:true
              }
            },{
              color: '#d6f4ff', 
              from: 37.5, 
              to: 38,
              className: 'fg-4',
              label:{
                text: "<div class='balloon fg-4'>退院</div>",
                useHTML:true
              }
            }]
          },
          series: [{
            name: 'ALT<small>(IU/l)</small>',
            data: [{"x":1, "y":2060}, {"x":3, "y":1900}, {"x":5, "y":2090}, {"x":6, "y":1560}, {"x":8, "y":998}, {"x":11, "y":679}, {"x":14, "y":642}, {"x":15, "y":624}, {"x":17, "y":458}, {"x":19, "y":416}, {"x":21, "y":368}, {"x":24, "y":271}, {"x":28, "y":179}, {"x":31, "y":125}, {"x":35, "y":91}, {"x":38, "y":61}]},
            {
            name: 'AST<small>(IU/l)</small>',
            data: [{"x":1, "y":1410}, {"x":3, "y":1478}, {"x":5, "y":1710}, {"x":6, "y":892}, {"x":8, "y":421}, {"x":11, "y":438}, {"x":14, "y":529}, {"x":15, "y":518}, {"x":17, "y":288}, {"x":19, "y":230}, {"x":21, "y":189}, {"x":24, "y":113}, {"x":28, "y":70}, {"x":31, "y":48}, {"x":35, "y":39}, {"x":38, "y":28}]},
            {
            name: 'LDH<small>(IU/l)</small>',
            data: [{"x":1, "y":670}, {"x":3, "y":612}, {"x":5, "y":667}, {"x":6, "y":279}, {"x":8, "y":240}, {"x":11, "y":248}, {"x":14, "y":291}, {"x":15, "y":258}, {"x":17, "y":213}, {"x":19, "y":230}, {"x":21, "y":238}, {"x":24, "y":191}, {"x":28, "y":212}, {"x":31, "y":180}, {"x":35, "y":177}, {"x":38, "y":167}]},
            {
            name: 'γ-GDP<small>(IU/l)</small>',
            data: [{"x":1, "y":280}, {"x":3, "y":224}, {"x":5, "y":214}, {"x":6, "y":206}, {"x":8, "y":195}, {"x":11, "y":191}, {"x":14, "y":198}, {"x":15, "y":207}, {"x":17, "y":243}, {"x":19, "y":359}, {"x":21, "y":426}, {"x":24, "y":416}, {"x":28, "y":311}, {"x":31, "y":253}, {"x":35, "y":224}, {"x":38, "y":171}]},
            {
            name: 'ALP<small>(IU/l)</small>',
            data: [{"x":1, "y":517}, {"x":3, "y":351}, {"x":5, "y":332}, {"x":6, "y":324}, {"x":8, "y":384}, {"x":11, "y":402}, {"x":14, "y":418}, {"x":15, "y":384}, {"x":17, "y":355}, {"x":19, "y":346}, {"x":21, "y":362}, {"x":24, "y":360}, {"x":28, "y":299}, {"x":31, "y":289}, {"x":35, "y":307}, {"x":38, "y":254}]},
            {
            name: '総Bil<small>(mg/dl)</small>',
            data: [{"x":1, "y":6.3}, {"x":3, "y":6.6}, {"x":5, "y":10}, {"x":6, "y":11.9}, {"x":8, "y":15}, {"x":11, "y":21.4}, {"x":14, "y":26.4}, {"x":15, "y":26.1}, {"x":17, "y":17.2}, {"x":19, "y":11.7}, {"x":21, "y":9.2}, {"x":24, "y":7.2}, {"x":28, "y":4.9}, {"x":31, "y":3.9}, {"x":35, "y":3.3}, {"x":38, "y":2.7}]},
            {
            name: '直接Bil<small>(mg/dl)</small>',
            data: [{"x":1, "y":5.1}, {"x":3, "y":5.5}, {"x":5, "y":8.2}, {"x":6, "y":9.7}, {"x":8, "y":12.2}, {"x":11, "y":17.1}, {"x":14, "y":20.6}, {"x":15, "y":20.7}, {"x":17, "y":14.3}, {"x":19, "y":9.4}, {"x":21, "y":7.3}, {"x":24, "y":5.6}, {"x":28, "y":4}, {"x":31, "y":3.2}, {"x":35, "y":2.7}, {"x":38, "y":2.1}]}
          ]
      });
      var series = myChart.series;
      var reset =()=> _.each(series,(data)=>{
          data.setVisible(false, false);
          data.update({ showInLegend: false}, false);
        }
      );
      var show_series=(list)=>{
        list.map((i)=>{
          series[i].show();
          series[i].update({ showInLegend: true }, false);
          }
        )
      }
      var show_series_only=(list)=>{
        reset();
        list.map((i)=>{
          series[i].show();
          series[i].update({ showInLegend: true }, false);
          }
        );
        myChart.redraw();
      }

      Reveal.addEventListener( 'fragmentshown', function( event ) {
        counter++;
        render(counter);
      });
      Reveal.addEventListener( 'fragmenthidden', function( event ) {
        counter--;
        render(counter);
      });
      Reveal.addEventListener( 'slidechanged', function( event ) {
         counter = 0;
         render(counter);
      });
      var render = (counter) =>{
        switch(counter){
          case 0:
            show_series_only([0,1,2]); 
            myChart.xAxis[0].setExtremes(1, 17);
            break;
          case 2:
            myChart.xAxis[0].setExtremes(1, 40); break;
          case 3:
            show_series_only([5,6]);break;
          default: break; 
        }
      } 
      
    }); 
  
        
//- section
//-   h1 考察:急性肝炎様自己免疫性肝炎
section
  h2 本症例の特徴
  ul.list
    li.fragment 中年男性
    li.fragment 急性肝障害
    li.fragment ウイルス、アルコール、薬剤性等は否定的
    li.fragment 自己抗体陰性, IgG低値
    li.fragment 病理にてcentrilobular necrosis
    li.fragment ステロイド著効

section
  h2 診断指針・基準は満たさなかった
  p 自己免疫性肝炎診断の国際スコアリングシステム: 
    strong 8点 
    | < 10点
  .row
    .col-xs-12
      table.table.table-condensed.table-striped.table-elegant
        thead
          tr
            th 項目
            th 基準
            th 点数
            th 項目
            th 基準
            th 点数
        tbody
          tr
            td 性別
            td 女性
            td 2
            td 薬物投与歴
            td 陽性
            td -4
          tr
            td ALP/AST or ALP/ALT
            td
              strong < 1.5
            td
              strong 2
            td
            td
              strong 陰性
            td
              strong 1
          tr
            td
            td 1.5 - 3.0
            td 0
            td 平均アルコール摂取量
            td
              strong <25g/日
            td
              strong 2
          tr
            td
            td > 3.0
            td -2
            td
            td >60g/日
            td -2
          tr
            td グロブリン or IgG
            td > 2.0
            td 3
            td HLA
            td DR3 or DR4
            td 1
          tr
            td
            td 1.5 - 2.0
            td 2
            td 他の自己免疫疾患
            td 陽性
            td 2
          tr
            td
            td 1.0 - 1.5
            td 1
            td 他の自己抗体
            td 陽性
            td 2
          tr
            td
            td
              strong < 1.0
            td
              strong 0
            td 組織所見
            td Interface hepatitis
            td 3
          tr
            td ANA，SMA2，LKM-1抗体3
            td > 1：80
            td 3
            td
            td 形質細胞浸潤
            td 1
          tr
            td
            td 1：80
            td 2
            td
            td ロゼット形成
            td 1
          tr
            td
            td 1：40
            td 1
            td
            td 上記所見なし
            td -5
          tr
            td
            td
              strong < 1：40
            td
              strong 0
            td
            td 胆管病変
            td -3
          tr
            td AMA4
            td 陽性
            td -4
            td
            td 他の所見
            td -3
          tr
            td 肝炎ウイルスマーカー
            td 陽性
            td -3
            td 治療反応性
            td 著効
            td 2
          tr
            td
            td
              strong 陰性
            td
              strong 3
            td
            td 再発
            td 3
      p: small 合計点数 16以上:Definite, 10-15:Probable

section
  h2 急性肝炎様AIHとは？
  .row
    .col-xs-6.md-pr-20    
      p: em(style="font-size:120%") 典型的AIH
      ul.list
        li 中年以降の女性に好発
        li 潜在性に発症
        li 自己抗体
          strong.red 陽性
          | ・血清IgG
          strong.red 高値
        li 病理は
          strong 慢性肝炎像
        li まれに急性増悪するが、
          br
          | この場合も慢性肝炎像
    .col-xs-6
      p.fg-1: em(style="font-size:120%") 急性肝炎型AIH
      ul.fg-1.list
        li.fg-2 急性肝炎様の臨床像
        li.fg-3 自己抗体
          strong 陰性
          | ・血清IgG
          strong 低値
          br
          | の場合が多い
        li.fg-4 病理は
          strong 急性肝炎像
          br
          | (centrilobular necrosisなど)
        li.fg-5 診断基準を満たさないことも
  br
  strong.fg-6(style="font-size:120%") どちらも副腎皮質ステロイドは著効する！

section
  h2 考察・結語
  ul.list
    li.fragment <em>原因不明の急性肝障害</em>では、<em>自己抗体陰性・IgG低値であっても</em>、
      br
      | <strong>急性肝炎様AIHを想定し</strong>、早期に肝生検を行い、
      br
      | <em>Centri-lobular necrosis</em>等の急性肝炎様の病理所見があれば、
      br
      | <strong>ステロイドを試用する</strong>必要があるのではないかと考えた
    li.fragment 急性肝炎様AIHの症例はまだ報告は少なく、症例の蓄積が必要
    li.fragment: em 急性発症様AIHの診断基準の作成が待ち望まれる

section
  h1 ご清聴有難うございました

section
  h1 未使用スライド

section
  h2 自己免疫性肝炎の一般的な病理所見
  ul
    li 組織学的には典型例では慢性肝炎象を呈する
    li
      strong 特徴的な組織像
      ul
        li 門脈域の線維性拡大
        li 同部への単核球浸潤
        li 浸潤細胞には形質細胞が多い 
        li interface hepatitisの所見あり
        li 肝細胞の多数の巣状壊死
        li 帯状、架橋形成性肝壊死
        li 肝細胞ロゼット形成
    li
      | 診断には上記の特徴に加えて肝炎ウイルス等、薬物性、アルコール性等の
      strong 既知の肝障害の原因を除外
      | することが重要である

section
  h2 厚生労働省の診断指針
  p
    | ①. 
    strong 他の原因による肝障害が否定される
    br
    | ②. 抗核抗体陽性あるいは抗平滑筋抗体陽性
    br
    | ③. IgG高値（＞基準上限値1.1倍）
    br
    | ④. 
    strong 組織学的にinterface hepatitisや形質細胞浸潤がみられる
    br
    | ⑤. 
    strong 副腎皮質ステロイドが著効する
  p
    em 典型例
    br
    | 上記項目で1を満たし、2～5のうち3項目以上を認める。
    br
    em 非典型例
    br
    strong 上記項目で1を満たし、2～5の所見の1～2項目を認める。
  p
    | なお国際診断スコアが計算できる場合にはその値を参考とし、
    br
    strong 疑診以上は自己免疫性肝炎と診断
    | する。また
    strong 急性発症例では上記項目2,3を認めない場合もある。

section
  h2 考察
  ul
    li 発症直後の自己免疫性肝炎はCentri-Lobular Necrosisを初期像とする見解がある。  
    li
      | Centri-Lobular Necrosisを呈する急性発症例は、自己抗体が陰性、血清IgGが低い、診断指針・基準を満たさない、T/Aの極期にのみ自己抗体陽性となる例が報告されている。
    li 原因不明の肝障害を精査する際にはすみやかに原因検索を行い、自己免疫性肝炎の可能性を考慮し肝生検を行うことが診断の一助となる。  
    li
      strong
        | 診断的治療を兼ねてのステロイド投与は他の肝炎の原因が否定され、かつ肝生検を行った後に速やかに投与することが、肝炎の劇症化を未然に防ぎ、場合によっては自己免疫性肝炎の診断にもつながる。
        
section
  h2 入院後経過
  ul
    li 第1病日より病歴聴取、感染症、各種画像検査を施行したが、明らかな原因は指摘できず。  
    li
      | 第5病日：安静臥床、補液にて様子を経過観察していたが、
      br
      | 肝胆道系酵素の上昇のため、SMNC iv
      // .element: class="fragment" data-fragment-index="1"
section
  #container4(style="width:100%; height:600px;",data-background-transition="fade")
  .balloon.fragment(data-fragment-index='2', style='top:41px;left:305px;')
    | 第5病日
    br
    |   SMNC iv
  .balloon.fragment(data-fragment-index='3', style='top:328px;left:881px;')
    | 第14病日
    br
    |   肝生検
  script.
    $(document).ready(function() { 
        var myChart = Highcharts.chart('container4', {
            chart: {
              type: 'spline',
              zoomType: 'x'
            },
            title: {
              text: '入院後経過'
            },
            xAxis: {
              type: 'linear',
              labels: {
                formatter: function() {
                  return this.value ;
                }
              },
              title: {
                text: '入院後日数'
              }
            },
            yAxis: {
              title: {
                text: '酵素活性'
              }
            },
            series: [{
            name: 'AST<small>(IU/l)</small>',
            data: [{"x":1, "y":1410}, {"x":3, "y":1478}, {"x":5, "y":1710}, {"x":6, "y":892}, {"x":8, "y":421}, {"x":11, "y":438}, {"x":14, "y":529}, {"x":15, "y":518}, {"x":17, "y":288}, {"x":19, "y":230}, {"x":21, "y":189}, {"x":24, "y":113}, {"x":28, "y":70}, {"x":31, "y":48}, {"x":35, "y":39}, {"x":38, "y":28}]},
            {
            name: 'ALT<small>(IU/l)</small>',
            data: [{"x":1, "y":2060}, {"x":3, "y":1900}, {"x":5, "y":2090}, {"x":6, "y":1560}, {"x":8, "y":998}, {"x":11, "y":679}, {"x":14, "y":642}, {"x":15, "y":624}, {"x":17, "y":458}, {"x":19, "y":416}, {"x":21, "y":368}, {"x":24, "y":271}, {"x":28, "y":179}, {"x":31, "y":125}, {"x":35, "y":91}, {"x":38, "y":61}]},
            {
            name: 'LDH<small>(IU/l)</small>',
            data: [{"x":1, "y":670}, {"x":3, "y":612}, {"x":5, "y":667}, {"x":6, "y":279}, {"x":8, "y":240}, {"x":11, "y":248}, {"x":14, "y":291}, {"x":15, "y":258}, {"x":17, "y":213}, {"x":19, "y":230}, {"x":21, "y":238}, {"x":24, "y":191}, {"x":28, "y":212}, {"x":31, "y":180}, {"x":35, "y":177}, {"x":38, "y":167}]},
            {
            name: 'γ-GDP<small>(IU/l)</small>',
            data: [{"x":1, "y":280}, {"x":3, "y":224}, {"x":5, "y":214}, {"x":6, "y":206}, {"x":8, "y":195}, {"x":11, "y":191}, {"x":14, "y":198}, {"x":15, "y":207}, {"x":17, "y":243}, {"x":19, "y":359}, {"x":21, "y":426}, {"x":24, "y":416}, {"x":28, "y":311}, {"x":31, "y":253}, {"x":35, "y":224}, {"x":38, "y":171}]},
            {
            name: 'ALP<small>(IU/l)</small>',
            data: [{"x":1, "y":517}, {"x":3, "y":351}, {"x":5, "y":332}, {"x":6, "y":324}, {"x":8, "y":384}, {"x":11, "y":402}, {"x":14, "y":418}, {"x":15, "y":384}, {"x":17, "y":355}, {"x":19, "y":346}, {"x":21, "y":362}, {"x":24, "y":360}, {"x":28, "y":299}, {"x":31, "y":289}, {"x":35, "y":307}, {"x":38, "y":254}]},
            {
            name: '総Bil<small>(mg/dl)</small>',
            data: [{"x":1, "y":6.3}, {"x":3, "y":6.6}, {"x":5, "y":10}, {"x":6, "y":11.9}, {"x":8, "y":15}, {"x":11, "y":21.4}, {"x":14, "y":26.4}, {"x":15, "y":26.1}, {"x":17, "y":17.2}, {"x":19, "y":11.7}, {"x":21, "y":9.2}, {"x":24, "y":7.2}, {"x":28, "y":4.9}, {"x":31, "y":3.9}, {"x":35, "y":3.3}, {"x":38, "y":2.7}]},
            {
            name: '直接Bil<small>(mg/dl)</small>',
            data: [{"x":1, "y":5.1}, {"x":3, "y":5.5}, {"x":5, "y":8.2}, {"x":6, "y":9.7}, {"x":8, "y":12.2}, {"x":11, "y":17.1}, {"x":14, "y":20.6}, {"x":15, "y":20.7}, {"x":17, "y":14.3}, {"x":19, "y":9.4}, {"x":21, "y":7.3}, {"x":24, "y":5.6}, {"x":28, "y":4}, {"x":31, "y":3.2}, {"x":35, "y":2.7}, {"x":38, "y":2.1}]}
          ]
        });
    }); 

//- section
//-   h2 入院後経過
//-   canvas.fragment(data-chart='line', data-fragment-index='0')
//-     //
//-       {
//-       "data": {
//-       "datasets": [
//-       {
//-       "data":[{"x":1, "y":6.3}, {"x":3, "y":6.6}, {"x":5, "y":10}, {"x":6, "y":11.9}, {"x":8, "y":15}, {"x":11, "y":21.4}, {"x":14, "y":26.4}],"label":"総Bil(mg/dl)","backgroundColor":"rgba(20,220,120,.8)","fill":false
//-       }, {
//-       "data":[{"x":1, "y":5.1}, {"x":3, "y":5.5}, {"x":5, "y":8.2}, {"x":6, "y":9.7}, {"x":8, "y":12.2}, {"x":11, "y":17.1}, {"x":14, "y":20.6}],"label":"直接Bil(mg/dl)","backgroundColor":"rgba(20,120,220,.8)","fill":false
//-       }
//-       ]
//-       },
//-       "options": {
//-       "scales": {
//-       "xAxes": [{
//-       "type": "linear",
//-       "position": "bottom"
//-       }]
//-       }
//-       }
//-       }
//-   .balloon.fragment(data-fragment-index='1', style='top:341px;left:290px;')
//-     | 第5病日
//-     br
//-     |   SMNC iv
//-   .balloon.fragment(data-fragment-index='2', style='top:103px;left:881px;')
//-     | 第14病日
//-     br
//-     |   肝生検

//-   section(data-background-color='#000000' data-background-video=src+"/CT第14病日.mp4" controls='controls')
//-   section(data-background-color='#000000')
//-     video(width='1280', height='650', controls='controls' data-autoplay)
//-       source(src=src+'/CT第14病日.mp4', type='video/mp4')

//- section  
//-   h2 入院後経過
//-   ul 
//-     li 第1病日より病歴聴取、感染症、各種画像検査を施行したが、明らかな原因は指摘できず。
//-     li 第5病日：安静臥床、補液にて様子を経過観察していたが、肝胆道系酵素の上昇のため、SMNC iv
//-     li 第14病日：以上の画像検査、血液検査から診断が確定できず、肝生検を実施した。
//-   // .element: class="fragment" data-fragment-index="1"
//-   p.fragment(data-fragment-index='2')
//-     em 除外済み
//-     br
//-     | A,B,C,E型肝炎、EBV, CMV, HIV
//-   p.fragment(data-fragment-index='3')
//-     em Unlikely
//-     br
//-     | 薬剤性, アルコール性(γ-GTP➡、ALT>AST), 脂肪肝、うっ血性
//- section
//-   h2 入院後経過
//-   canvas.fragment(data-chart='line', data-fragment-index='1')
//-     //
//-       {
//-       "data": {
//-       "datasets": [
//-       {
//-       "data":[{"x":1, "y":1410}, {"x":3, "y":1478}, {"x":5, "y":1710}, {"x":6, "y":892}, {"x":8, "y":421}, {"x":11, "y":438}, {"x":14, "y":529}, {"x":15, "y":518}, {"x":17, "y":288}, {"x":19, "y":230}, {"x":21, "y":189}, {"x":24, "y":113}, {"x":28, "y":70}, {"x":31, "y":48}, {"x":35, "y":39}, {"x":38, "y":28}],"label":"AST(IU/l)","backgroundColor":"rgba(20,220,220,.8)","fill":false
//-       }, {
//-       "data":[{"x":1, "y":2060}, {"x":3, "y":1900}, {"x":5, "y":2090}, {"x":6, "y":1560}, {"x":8, "y":998}, {"x":11, "y":679}, {"x":14, "y":642}, {"x":15, "y":624}, {"x":17, "y":458}, {"x":19, "y":416}, {"x":21, "y":368}, {"x":24, "y":271}, {"x":28, "y":179}, {"x":31, "y":125}, {"x":35, "y":91}, {"x":38, "y":61}],"label":"ALT(IU/l)","backgroundColor":"rgba(220,120,120,.8)","fill":false
//-       }, {
//-       "data":[{"x":1, "y":280}, {"x":3, "y":224}, {"x":5, "y":214}, {"x":6, "y":206}, {"x":8, "y":195}, {"x":11, "y":191}, {"x":14, "y":198}, {"x":15, "y":207}, {"x":17, "y":243}, {"x":19, "y":359}, {"x":21, "y":426}, {"x":24, "y":416}, {"x":28, "y":311}, {"x":31, "y":253}, {"x":35, "y":224}, {"x":38, "y":171}],"label":"γ-GDP(IU/l)","backgroundColor":"rgba(20,120,220,.8)","fill":false
//-       }, {
//-       "data":[{"x":1, "y":517}, {"x":3, "y":351}, {"x":5, "y":332}, {"x":6, "y":324}, {"x":8, "y":384}, {"x":11, "y":402}, {"x":14, "y":418}, {"x":15, "y":384}, {"x":17, "y":355}, {"x":19, "y":346}, {"x":21, "y":362}, {"x":24, "y":360}, {"x":28, "y":299}, {"x":31, "y":289}, {"x":35, "y":307}, {"x":38, "y":254}],"backgroundColor":"rgba(120,220,20,.8)","borderColor":"rgba(120,220,20,.8)", "label":"ALP(IU/l)","fill":false
//-       },{
//-       "data":[{"x":1, "y":670}, {"x":3, "y":612}, {"x":5, "y":667}, {"x":6, "y":279}, {"x":8, "y":240}, {"x":11, "y":248}, {"x":14, "y":291}, {"x":15, "y":258}, {"x":17, "y":213}, {"x":19, "y":230}, {"x":21, "y":238}, {"x":24, "y":191}, {"x":28, "y":212}, {"x":31, "y":180}, {"x":35, "y":177}, {"x":38, "y":167}],"label":"LDH(IU/l)","backgroundColor":"rgba(220,20,120,.8)","borderColor":"rgba(220,20,120,.8)","fill":false
//-       }
//-       ]
//-       },
//-       "options": {
//-       "scales": {
//-       "xAxes": [{
//-       "type": "linear",
//-       "position": "bottom"
//-       }]
//-       }
//-       }
//-       }
//-   .balloon.fragment(data-fragment-index='1', style='top:102px;left:92px;')
//-     | 第5病日
//-     br
//-     |   SMNC iv
//-   .balloon.fragment(data-fragment-index='1', style='top:328px;left:295px;')
//-     | 第14病日
//-     br
//-     |   肝生検
//-   .balloon.fragment(data-fragment-index='2', style='top:207px;left:331px;')
//-     | 第15病日
//-     br
//-     |   PSL 30mg/日 開始
//- section
//-   h2 入院後経過
//-   canvas.fragment(data-chart='line', data-fragment-index='1')
//-     //
//-       {
//-       "data": {
//-       "datasets": [
//-       {
//-       "data":[{"x":1, "y":6.3}, {"x":3, "y":6.6}, {"x":5, "y":10}, {"x":6, "y":11.9}, {"x":8, "y":15}, {"x":11, "y":21.4}, {"x":14, "y":26.4}, {"x":15, "y":26.1}, {"x":17, "y":17.2}, {"x":19, "y":11.7}, {"x":21, "y":9.2}, {"x":24, "y":7.2}, {"x":28, "y":4.9}, {"x":31, "y":3.9}, {"x":35, "y":3.3}, {"x":38, "y":2.7}],"label":"総Bil(mg/dl)","backgroundColor":"rgba(20,220,120,.8)","fill":false
//-       }, {
//-       "data":[{"x":1, "y":5.1}, {"x":3, "y":5.5}, {"x":5, "y":8.2}, {"x":6, "y":9.7}, {"x":8, "y":12.2}, {"x":11, "y":17.1}, {"x":14, "y":20.6}, {"x":15, "y":20.7}, {"x":17, "y":14.3}, {"x":19, "y":9.4}, {"x":21, "y":7.3}, {"x":24, "y":5.6}, {"x":28, "y":4}, {"x":31, "y":3.2}, {"x":35, "y":2.7}, {"x":38, "y":2.1}],"label":"直接Bil(mg/dl)","backgroundColor":"rgba(20,120,220,.8)","fill":false
//-       }
//-       ]
//-       },
//-       "options": {
//-       "scales": {
//-       "xAxes": [{
//-       "type": "linear",
//-       "position": "bottom"
//-       }]
//-       }
//-       }
//-       }
//-   .balloon.fragment(data-fragment-index='2', style='top:93px;left:285px;')
//-     | PSL 30mg/日 開始
//- section
//-   h2 入院後経過
//-   ul
//-     li PSL内服後はAST・ALTも徐々に改善。
//-     li HLAが帰着し、A*24:33-B*75:51-DRB1*04:05-09:01:02であった。
//-     li
//-       | 肝生検ではCentri-Lobular Necrosisであり、PSLに対する反応性も考慮し、
//-       strong 急性発症型自己免疫性肝炎
//-       | の診断となった。
//-     li 以降はAST・ALTの再燃もなく経過し、徐々にPSLをtapering、PSL 20 mg/日で第38病日に退院となった。

//- section
//-   h2 入院時検査所見
//-   p
//-     em 心電図
//-     br
//-     | HR 91/min, sinus rhythm
//-   p
//-     em 腹部エコー(第１病日)
//-     br
//-     | 肝内胆管総胆管の拡張(-), 胆囊の壁肥厚(+)
//-     br
//-     | 肝臓は内部エコー均一, 辺縁はやや鈍, 明らかなSOL(-)
  //
    *腹部dynamic造影CT(第1病日)*
    肝内胆管総胆管の拡張(-), 胆囊周囲の浮腫性変化(+), 明らかなリンパ腫大なし
  //
    *腹部単純CT(第14病日)*
    門脈周囲の浮腫性変化(+), 胆囊周囲の浮腫性変化は増強した