section 
  h1 エソメプラゾールとロスバスタチン投与中に発症した急性間質性腎炎の1例
  dl
    dt 東京逓信病院  腎臓内科
    dd ◯平川雄亮、松村実美子、東原崇明、宇仁理恵、高野秀樹
  dl 
    dt 日本医科大学解析人体病理学
    dd 清水章
  br
  .row
    .col-xs-4
      h3 COI開示
    .col-xs-8
      p 演題発表に関連し、発表者らに開示すべき<br>COI関係にある企業などはありません。

section
  h2 症例： 76歳女性
  dl.dl-horizontal  
    dt 主訴 
    dd 腎機能低下  
  dl.dl-horizontal 
    dt 現病歴 
    dd 高血圧、脂質異常症で近医通院中。  
    dd 75歳時、脳梗塞を発症し当院神経内科で加療を受け、  
    dd 血清Cr 0.9mg/dl前後で推移していたが、  
    dd 8か月後血清Cr 1.9mg/dlに増悪。    
    dd 採血、画像検査を施行するも原因判然とせず、  
    dd 精査加療目的に翌日当科入院となった(第1病日)。

section
  h2 症例： 76歳女性
  dl.dl-horizontal 
    dt 既往歴   
    dd 高血圧症, 萎縮性胃炎, 脂質異常症, 脳梗塞(75際)  
  dl.dl-horizontal 
    dt 家族歴  
    dd 父：脳動脈瘤破裂  
  dl.dl-horizontal 
    dt アレルギー  
    dd food：(-), drug：ロキソニン   
  dl.dl-horizontal 
    dt 生活歴 
    dd 飲酒:機会飲酒, 喫煙:なし  
  dl.dl-horizontal 
    dt 内服歴   
    dd アムロジピン5mg1T1X, アスピリン100mg1T1X, 
    dd エソメプラゾール20mg1Cp1X, 
    dd ロスバスタチン2.5mg1T1X
section
  h2 入院時現症
  dl.dl-horizontal
    dt 全身 
    dd JCS-0, 身長 150.5 cm, 体重 56.9 kg, BMI 25.2 kg/㎡  
  dl.dl-horizontal
    dt Vital  
    dd BT 36.8 ℃, PR 73 bpm, BP 148/85 mmHg, SpO2 98 %  
  br
  dl.dl-horizontal
    dt 頭頸部   
    dd 眼瞼結膜貧血なし, 眼球結膜黄染なし, 
    dd 頸部リンパ節腫脹なし,   
      strong 両側眼瞼に軽度浮腫あり  
  dl.dl-horizontal
    dt 胸部 
    dd 肺野・心音異常なし  
  dl.dl-horizontal
    dt 腹部 
    dd 平坦/軟, 圧痛なし, 腸蠕動音正常  
  dl.dl-horizontal
    dt 四肢
    dd 
      strong 両側下腿浮腫軽度あり, 
      | 足背動脈触知良好
section
  h2 入院時検査所見
  .row
    .col-xs-4
      table.table.table-condensed.table-boaderd(style="margin-top:-12px; font-size:130%;")
        tr
          td 
            em 尿検査
          td
          td
        tr
          td 比重
          td 1.011
          td
        tr
          td ブドウ糖
          td (-)
          td
        tr
          td 白血球
          td +2
          td
        tr
          td 亜硝酸塩
          td (-)
          td
        tr
          td 蛋白
          td 10
          td mg/dl
        tr
          td Cre
          td 48.2
          td mg/dl
        tr
          td TP/Cre
          td 0.21
          td g/g・Cre
        tr
          td Na
          td 67.1
          td mEq/l
        tr
          td BUN
          td 415
          td mg/dl
        tr.red
          td β2MG
          td 5519
          td ng/ml
        tr.red
          td NAG
          td 20.6
          td
        tr
          td 
            em 血算
          td
          td
        tr
          td WBC
          td 4800
          td /μl
        tr
          td Hb
          td 10.4
          td g /dl
        tr
          td Plt
          td 15.4
          td 万/μl
    .col-xs-4
      table.table.table-condensed(style="margin-top:-12px;font-size:130%;")
        tr
          td: em 生化学
          td
          td
        tr
          td Na
          td 142.1
          td mEq/l
        tr
          td K
          td 3.9
          td mEq/
        tr
          td Cl
          td 106.8
          td mEq/
        tr
          td Ca
          td 8.4
          td mg/dl
        tr
          td P
          td 3.5
          td mg/dl
        tr
          td AST
          td 23
          td IU/l
        tr
          td ALT
          td 12
          td IU/l
        tr
          td T.Bill
          td 0.4
          td mg/dl
        tr
          td γ-GTP
          td 12
          td IU/l
        tr
          td LDH
          td 255
          td IU/l
        tr
          td Alb
          td 3.5
          td g/dl
        tr.red
          td BUN
          td 28.4
          td mg/dl
        tr.red
          td Cre
          td 2.03
          td mg/dl
        tr
          td UA
          td 4.9
          td mg/dl
        tr.red
          td CK
          td 184
          td IU/L    
    .col-xs-4
      table.table.table-condensed(style="margin-top:-12px;font-size:130%;")
        tr
          td 
            em 免疫
          td
          td
        tr.red
          td CRP
          td 0.35
          td mg/dl
        tr
          td RA
          td 12
          td IU/l
        tr
          td ASO
          td 7
          td IU/l
        tr
          td IgA
          td 233
          td mg/dl
        tr.red
          td IgG
          td 1787
          td mg/dl
        tr
          td IgM
          td 144
          td mg/dl
        tr
          td C3c
          td 111
          td mg/dl
        tr
          td C4
          td 22
          td mg/dl
        tr.red
          td 血清補体価
          td 52.5
          td mg/dl
        tr
          td ANA
          td (-)
          td
        tr
          td dsDNA-IgG
          td (-)
          td
        tr
          td MPO ANCA
          td (-)
          td
        tr
          td PR-3 ANCA 
          td (-)
          td
        tr
          td GBM Ab
          td (-)
          td
        tr
          td アミロイドA蛋白
          td 4.3
          td

section
  h2 入院時検査所見
  dl.dl-horizontal
    dt 心電図
    dd HR 64/min, sinus rhythm, NAD, no ST-T change
    br
  dl.dl-horizontal
    dt CXR
    dd CTR 58 %, 両側CPA sharp, 両側肺野clear

section
  section(data-background-color='#000000' data-background-video=src+"/TIN_CT.mp4" controls='controls')
    p.caption_white.md-ml-20 腹部骨盤単純CT
  section(data-background-color='#000000')
    video(width='1280', height='650', controls='controls' data-autoplay)
      source(src=src+'/TIN_CT.mp4', type='video/mp4')

section
  h2 画像検査
  .row
    .col-xs-6
      p 
        em 腎動脈エコー  
        br
        | 両側腎動脈の血流正常
      img.plain.img-rounded(src=src+'/TIN_US.png'　)
    .col-xs-6
      p
        em 腹部MRA  
        br
        | 両側腎動脈の狭窄なし
      img.plain.img-rounded(src=src+'/TIN_MRI.png')
section
  h2 入院前経過
  .row
    .col-xs-12
      #container_1(style="width:auto; height:600px;")
  script.
    $(window).on("load",()=> { 
      var myChart = Highcharts.chart('container_1', {
          chart: {
            type: 'area',
            zoomType: 'x'
          },
          title: {
            text: ''
          },
          tooltip:{
            enabled: false
          },
          legend:{
            symbolPadding: 15,
            symbolRadius: 24,
            useHTML: true,  
            itemStyle:{
              "fontSize": "30px", 
              "fontWeight": "bold"
            }
          },
          yAxis: {
            title: {
              text: '1/sCr',
              offset:80
            },
            labels:{
              y: 7
            },
            tickAmount: 6
          },
          plotOptions: {
            series: {
              fillOpacity: 0,
              zoneAxis: 'x',
              lineWidth: 5,
              marker: {
                radius: 10
              }
            }
          },
          xAxis: {
            type: 'linear',
            labels: {
              formatter: function() {
                return this.value+1;
              }
            },
            title: {
              text: '入院前日数'
            },
            plotBands: [{
              color: '#ccc', // Color value
              className: 'fragment', // Style of the plot line. Default to solid
              from: -83, // Value of where the line will appear
              to: -85,
              label:{
                text: "",
              }},{
              color: '#ccc', // Color value
              className: 'fragment', // Style of the plot line. Default to solid
              from: -1, // Value of where the line will appear
              to: 1,
              label:{
                text: "<em class='fg'></em>",
                useHTML:true
              }}
            ]
          },
          series: [
            {
              name:"1/sCr",
              data: [[-260, 1.17647058823529], [-259, 1.19047619047619], [-258, 1.14942528735632], [-256, 1.11111111111111], [-250, 1.19047619047619], [-246, 1.17647058823529], [-236, 1.13636363636364], [-215, 1.11111111111111], [-196, 1.04166666666667], [-187, 0.970873786407767], [-160, 1.11111111111111], [-132, 1.04166666666667], [-83, 1.12359550561798], [-27, 0.65359477124183], [-5, 0.526315789473684], [-4, 0.5], [0, 0.492610837438424], [2, 0.492610837438424]]
            }
          ]
      });
    }); 


section
  h2 臨床経過
  .row
    .col-xs-8
      #container1(style="width:auto; height:600px;")
      .pull-left#btn1(style="position: relative;top: -20px;cursor: pointer;") >>
    .col-xs-4.md-pl-20.small-font
      //- li 各種自己抗体陰性、尿中β2MG, NAG高値
      //- p FENa 1.9%, FEUN 45.2%
      p.fg-2: em 鑑別
      ul.list.fg-2
        li.fg-4.gray 腎前性腎不全
          br
          small.md-ml-20.fg-3 FENa 1.1%、FEUN 37.6%
            br 
            | 補液反応性が乏しい
        li.fg-4.gray 腎後性腎不全
          br
          small.md-ml-20.fg-3 画像検査(CT, US)
        li 腎性腎不全
        

  script.
    $(()=> { 
      Highcharts.seriesTypes.columnrange.prototype.drawDataLabels = Highcharts.seriesTypes.column.prototype.drawDataLabels;
      var updating = false;
      var myChart = Highcharts.chart('container1', {
          chart: {
            type: 'area',
            zoomType: 'x'
          },
          title: {
            text: ''
          },
          tooltip:{
            enabled: false
          },
          legend:{
            symbolPadding: 15,
            symbolRadius: 24,
            useHTML: true,  
            itemStyle:{
              "fontSize": "30px", 
              "fontWeight": "bold"
            }
          },
          yAxis: {
            title: {
              text: ''
            },
            labels:{
              y: 7
            },
            tickAmount: 6
          },
          plotOptions: {
            series: {
              fillOpacity: 0,
              zoneAxis: 'x',
              lineWidth: 5,
              marker: {
                radius: 7
              }
            }
          },
          xAxis: {
            type: 'linear',
            allowDecimals: false,
            tickPixelInterval:120,
            title: {
              text: '入院後日数'
            },
            min:-260,
            max:18,
            labels: {
              formatter: function() {
                return this.value+1;
              },
              y:30
            },
            plotBands: [{
              color: '#ddd', // Color value
              className: 'fg-1', // Style of the plot line. Default to solid
              from: -0.25, // Value of where the line will appear
              to: 0.25,
              label:{
                text: "<div class='gray-balloon fragment fg-1'>入院<br>内服中止<br>hydration</div>",
                useHTML:true
              }},{
              color: '#d6f4ff', // Color value
              className: 'fg-10', // Style of the plot line. Default to solid
              from: 12.85, // Value of where the line will appear
              to: 13.15,
              label:{
                text: "<div class='balloon fg-10'>Gaシンチ</div>",
                useHTML:true
              }},{
              color: '#ddd', // Color value
              className: 'fg-60', // Style of the plot line. Default to solid
              from: 14.85, // Value of where the line will appear
              to: 15.15,
              label:{
                text: "<div class='gray-balloon fragment fg-60'>腎生検</div>",
                useHTML:true
              }}
            ]
          }, 
          series: [
            {
              name:"1/sCr",
              data: [[-260, 1.17647058823529], [-259, 1.19047619047619], [-258, 1.14942528735632], [-256, 1.11111111111111], [-250, 1.19047619047619], [-246, 1.17647058823529], [-236, 1.13636363636364], [-215, 1.11111111111111], [-196, 1.04166666666667], [-187, 0.970873786407767], [-160, 1.11111111111111], [-132, 1.04166666666667], [-83, 1.12359550561798], [-27, 0.65359477124183], [-5, 0.526315789473684], [-4, 0.5], [0, 0.492610837438424], [2, 0.492610837438424], [4, 0.50761421319797], [6, 0.50251256281407], [8, 0.510204081632653], [10, 0.526315789473684], [13, 0.555555555555556], [15, 0.537634408602151], [16, 0.518134715025907], [18, 0.561797752808989], [21, 0.625], [24, 0.680272108843537], [27, 0.680272108843537], [29, 0.689655172413793], [31, 0.75187969924812], [34, 0.884955752212389], [36, 0.892857142857143], [38, 0.900900900900901], [45, 0.826446280991736], [59, 0.746268656716418], [62, 0.840336134453782], [64, 0.847457627118644]]
            },{
              name:"NAG",
              data: [[-4, 22.9], [0, 20.6], [10, 4.9], [21, 4.6], [24, 2.9], [27, 5.6], [31, 2.9], [34, 4], [36, 3.3], [38, 5.9], [45, 7.9], [59, 11.7], [62, 7.3], [69, 1.4], [73, 3.1], [76, 2.7], [79, 4]]
            }, {
              name:"β2MG <small>x100<small>",
              data: [[-4, 56.95], [0, 55.19], [10, 18.07], [15, 11.29], [21, 7.44], [24, 0.52], [27, 0.67], [31, 0.75], [34, 14], [36, 3.73], [38, 3.94], [45, 1.53], [59, 1.7], [62, 2.02], [69, 3.15], [73, 4.34], [76, 2.87], [79, 4.17]]
            }
          ]
      });
      var counter = 0;
      var series = myChart.series;
      var reset =()=> _.each(series,(data)=>{
          data.setVisible(false, false);
          data.update({ showInLegend: false}, false);
        }
      );
      var show_series=(list)=>{
        list.map((i)=>{
          series[i].show();
          series[i].update({ showInLegend: true }, false);
          }
        )
      }
      var show_series_only=(list)=>{
        reset();
        list.map((i)=>{
          series[i].show();
          series[i].update({ showInLegend: true }, false);
          }
        );
        myChart.redraw();
      }
      show_series_only([0]);
      $('#btn1').click(()=>{
        switch(counter%3){
          case 0:
            myChart.xAxis[0].setExtremes(0, 18); break;
          case 1:
            show_series_only([1,2]); break;
          case 2:
            show_series_only([0]); break;
        }
        counter++;
      })
    }); 

section(data-background-image=src+"/TIN_ga.png" data-background-size="contain")


section(data-background-image=src+"/AIN_histo1.png")
section(data-background-image=src+"/AIN_histo2.png")
section(data-background-image=src+"/AIN_histo3.png")

section
  h2 入院後経過
  .row
    .col-xs-8
      #container2(style="width:auto; height:600px;")
      .pull-left#btn2(style="position: relative;cursor: pointer;") >>
    .col-xs-4.md-pl-20.small-font
      p
        em DLST  
        br
        | エスメプラゾール 
        br 
        | SI 
        strong 199
        br
        | ロスバスタチン 
        br
        | SI 
        strong 170
      .arrow-down.fragment
      h3.small.fragment 薬剤性急性間質性腎炎  

        //- li CT：両腎・腎盂尿管に異常なし
        //- li US・MRI：両側腎動脈の狭窄なし
  script.
    $(()=> { 
      Highcharts.seriesTypes.columnrange.prototype.drawDataLabels = Highcharts.seriesTypes.column.prototype.drawDataLabels;
      var myChart = Highcharts.chart('container2', {
          chart: {
            type: 'area',
            zoomType: 'x'
          },
          title: {
            text: ''
          },
          tooltip:{
            enabled: false
          },
          legend:{
            symbolPadding: 15,
            symbolRadius: 24,
            useHTML: true,  
            itemStyle:{
              "fontSize": "30px", 
              "fontWeight": "bold"
            }
          },
          yAxis: {
            title: {
              text: ''
            },
            labels:{
              y: 7
            },
            tickAmount: 6
          },
          plotOptions: {
            series: {
              fillOpacity: 0,
              zoneAxis: 'x',
              lineWidth: 5,
              marker: {
                radius: 7
              }
            }
          },
          xAxis: {
            type: 'linear',
            allowDecimals: false,
            tickPixelInterval:120,
            min:13,
            max:40,
            labels:{
              y:30
            },
            title: {
              text: '入院後日数',
              formatter: function() {
                return this.value+1;
              }
            },
            plotBands: [{
              color: '#ccc', // Color value
              from: 14.9, // Value of where the line will appear
              to: 15.1,
              label:{
                text: "<div class='gray-balloon' >腎生検</div>",
                useHTML:true
              }}
              ,{
              color: '#eee', // Color value
              className: 'fg-10', // Style of the plot line. Default to solid
              from: 17, // Value of where the line will appear
              to: 30, // Width of the line  
              label:{
                text: "<div class='fg-10 balloon'>PSL 30mg</div>",
                useHTML:true
              }},{
              color: '#ccc', // Color value
              className: 'fg-20', // Style of the plot line. Default to solid
              from: 30, // Value of where the line will appear
              to: 32, // Width of the line  
              label:{
                text: "<div class='fg-20 gray-balloon'>mPSL 500mg</div>",
                useHTML:true
              }},{
              color: '#eee', // Color value
              className: 'fg-30', // Style of the plot line. Default to solid
              from: 32, // Value of where the line will appear
              to: 41, // Width of the line  
              label:{
                text: "<div class='fg-30 balloon'>PSL 20mg</div>",
                useHTML:true
              }},{
              color: '#ccc', // Color value
              className: 'fg-40', // Style of the plot line. Default to solid
              from: 37.9, // Value of where the line will appear
              to: 38.1, // Width of the line  
              label:{
                text: "<div class='fg-40 balloon'>退院</div>",
                useHTML:true
              }}
            ]
          },
          series: [
            {
              name:"1/sCr",
              data: [[-260, 1.17647058823529], [-259, 1.19047619047619], [-258, 1.14942528735632], [-256, 1.11111111111111], [-250, 1.19047619047619], [-246, 1.17647058823529], [-236, 1.13636363636364], [-215, 1.11111111111111], [-196, 1.04166666666667], [-187, 0.970873786407767], [-160, 1.11111111111111], [-132, 1.04166666666667], [-83, 1.12359550561798], [-27, 0.65359477124183], [-5, 0.526315789473684], [-4, 0.5], [0, 0.492610837438424], [2, 0.492610837438424], [4, 0.50761421319797], [6, 0.50251256281407], [8, 0.510204081632653], [10, 0.526315789473684], [13, 0.555555555555556], [15, 0.537634408602151], [16, 0.518134715025907], [18, 0.561797752808989], [21, 0.625], [24, 0.680272108843537], [27, 0.680272108843537], [29, 0.689655172413793], [31, 0.75187969924812], [34, 0.884955752212389], [36, 0.892857142857143], [38, 0.900900900900901], [45, 0.826446280991736], [59, 0.746268656716418], [62, 0.840336134453782], [64, 0.847457627118644]]
            },{
              name:"NAG",
              data: [[-4, 22.9], [0, 20.6], [10, 4.9], [21, 4.6], [24, 2.9], [27, 5.6], [31, 2.9], [34, 4], [36, 3.3], [38, 5.9], [45, 7.9], [59, 11.7], [62, 7.3], [69, 1.4], [73, 3.1], [76, 2.7], [79, 4]]
            }, {
              name:"β2MG <small>x100<small>",
              data: [[-4, 56.95], [0, 55.19], [10, 18.07], [15, 11.29], [21, 7.44], [24, 0.52], [27, 0.67], [31, 0.75], [34, 14], [36, 3.73], [38, 3.94], [45, 1.53], [59, 1.7], [62, 2.02], [69, 3.15], [73, 4.34], [76, 2.87], [79, 4.17]]
            }
          ]
      });
      var counter = 0;
      var series = myChart.series;
      var reset =()=> _.each(series,(data)=>{
          data.setVisible(false, false);
          data.update({ showInLegend: false}, false);
        }
      );
      var show_series=(list)=>{
        list.map((i)=>{
          series[i].show();
          series[i].update({ showInLegend: true }, false);
          }
        )
      }
      var show_series_only=(list)=>{
        reset();
        list.map((i)=>{
          series[i].show();
          series[i].update({ showInLegend: true }, false);
          }
        );
        myChart.redraw();
      }
      show_series_only([0]);
      $('#btn2').click(()=>{
        switch(counter%2){
          case 0:
            show_series_only([1,2]); break;
          case 1:
            show_series_only([0]); break;
        }
        counter++;
      })
    }); 


section
  h1 薬剤性急性間質性腎炎

section
  h2 急性間質性腎炎(AIN)の症状・所見
  ul
    li 多くは無症状であり、血尿・蛋白尿も軽度
      br
      small (肉眼的血尿 5%、ネフローゼ症候群 < 1%であり、一方で、血尿・蛋白尿を認める患者の腎生検で1%程度)
    li 古典的三徴(発疹、発熱、および好酸球増加)は一般的ではない
      br
      small 発疹: 15％, 発熱: 27％, 好酸球増加症: 23％, 三徴が揃う: 10％
    li NSAIDやPPIは、特に古典的三徴との関連性が低い
    li 原因薬剤の内服からAINの発症までの期間はばらつきがある
      br
      small 数週間から数ヶ月で発症する以外に、すでに感作されている場合は3〜5日間で発症することもある
  p.reference Neilson EG. Pathogenesis and therapy of interstitial nephritis. Kidney Int 1989; 35:1257.
  p.reference Ten RM, Torres VE, Milliner DS, et al. Acute interstitial nephritis: immunologic and clinical aspects. Mayo Clin Proc 1988; 63:921.

section
  h2 急性間質性腎炎(AIN)の病因
  .row
    .col-xs-12
      #container3(style='height: 500px;min-width: 410px; margin: 0 auto')
  p.reference Kodner CM, Kudrimoti A. Diagnosis and management of acute interstitial nephritis. Am Fam Physician 2003; 67:2527.

  script.
    $(window).on("load",()=>{
      Highcharts.chart('container3', {
          chart: {
              type: 'pie'
          },
          title: {
              text: ''
          },
          plotOptions: {
              series: {
                  dataLabels: {
                      enabled: true,
                      format: '{point.name}: {point.y:.1f}%',
                      color:'#000',
                      style: {
                        fontSize: '1.5rem'
                      }
                  }
              }
          },
          tooltip: {
              headerFormat: false,
              pointFormat: false
          },
          series: [{
              name: 'AINの病因',
              data: [{
                  name: '薬剤性',
                  y: 71,
                  drilldown: 'drug',
                  sliced: true,
                  color:"#0084B5"
              }, {
                  name: '自己免疫疾患',
                  y: 20,
                  drilldown: 'auto-immune',
                  color:'#ccc'
              }, {
                  name: '感染症',
                  y: 4,
                  drilldown: 'infxn',
                  color:"#ddd"
              }, {
                  name: 'その他',
                  y: 4,
                  drilldown: 'others',
                  color:"#eee"
              }, {
                  name: '不明',
                  y: 1,
                  drilldown: 'unknown',
                  color:"#ccc"
              }]
          }],
          drilldown: {
              series: [{
                  name: "薬剤性",
                  id: 'drug',
                  data: [
                      {
                        name: '抗生剤', 
                        y: 49,
                        color:"#bbb"
                      },
                      {
                        name: 'PPI', 
                        y: 14,
                        sliced: true,
                        drilldown: 'ppi',
                        color:"#0084B5"
                      },
                      {
                        name: '併用', 
                        y: 15,
                        color:"#ccc"
                      },{
                        name: 'NSAIDS', 
                        y: 11,
                        color:"#eee"
                      },{
                        name: 'その他', 
                        y: 11,
                        color:"#ddd"
                      }
                  ]
              }, {
                    name: "PPI",
                    id: 'ppi',
                    data: [
                        {
                          name: 'オメプラゾール', 
                          y: 86,
                          color:"#bbb"
                        },
                        {
                          name: 'エスメプラゾール', 
                          y: 7,
                          sliced: true,
                          color:"#0084B5"
                        },
                        {
                          name: 'ラベプラゾール', 
                          y: 7,
                          color:"#ddd"
                        }               
                    ]
              }]
          }
      });
    });



section
  h2 急性間質性腎炎(AIN)の検査
  ul
    li 尿検査では尿中白血球、白血球円柱を認め、赤血球円柱は稀
    li 尿中好酸球>1%は有用な所見(感度 40%, 特異度 72%)
    li 急性尿細管壊死と急性間質性腎炎の鑑別にGaシンチが有用
    li 確定診断は腎生検で行われる
    li 腎生検だけでは薬剤性と診断できない
  p: em 病理所見
  ul
    li 腎臓間質へびまん性, 局所性の浸潤パターンを取る
    li T-cell, Monocyte, Plasma cell, Eosinophilが混在
    li 薬剤性AINではGranulomaを形成することもある
  p.reference.md-mt-40 Corwin HL, Korbet SM, Schwartz MM. Clinical correlates of eosinophiluria. Arch Intern Med 1985; 145:1097.

section
  h2 急性間質性腎炎の原因を探るために
  p 原因となりうる薬剤を中止し、経過観察
  p 経過観察にて改善が得られない場合は生検を考慮し、
    br
    | 下記の検査も併用する

  table.table.table-condensed
    tr
      td: em 検査
      td: em 想定される疾患
    tr
      td 胸部CT
      td サルコイドーシス、結核、その他の感染症
    tr 
      td 血清ACE, Ca, 尿中Ca
      td サルコイドーシス
    tr 
      td PPD
      td 結核
    tr 
      td ANCA
      td ANCA関連血管炎
    tr 
      td ANA・dsDNA
      td SLE
    tr 
      td C3・C4
      td SLE・IgG4関連疾患
    tr 
      td 抗Ro/SSA抗体, 抗La/SSb抗体, RF
      td Sjögren's syndrome

  p.reference.md-mt-40 Raissian Y, Nasr SH, Larsen CP, et al. Diagnosis of IgG4-related tubulointerstitial nephritis. J Am Soc Nephrol 2011; 22:1343.

section
  :markdown-it
    ## 結語
    * 今回、PPIまたはスタチンが原因と思われる急性糸球体腎炎の症例を経験した。
    * 本症例では薬剤中止及びステロイド投与にて腎機能は改善した。
    * 最近はPPIと薬剤性間質性腎炎との関連性についての報告も見られるようになってきた。
    * 一方でスタチンによる間質性腎炎は稀である。
    * 両者とも使用頻度の高い薬剤であり、注意を要すると考え、症例報告とさせて頂く。

section
  h1 ご清聴有難うございました


section
  h2 todo
  ul
    li 現病歴：内服薬を始めたこと
    li 入院前経過：内服期間(スタチン、クレストール)
    li 今回の考察

//- section
//-   h2 入院後経過
//-   .row
//-     .col-xs-8
//-       #container2_(style="width:100%; height:600px;")

  
//-   script.
//-     $(document).ready(function() { 
//-         var myChart = Highcharts.chart('container2_', {
//-             chart: {
//-               zoomType: 'y',
//-               inverted:true
//-             },
//-             title: {
//-               text: '入院後経過'
//-             },
//-             yAxis: {
//-               type: 'linear',
//-               labels: {
//-                 formatter: function() {
//-                   return '第'+(this.value+1) + '病日';
//-                 }
//-               },
//-               title: {
//-                 text: '入院日数'
//-               },
//-               gridLineWidth: 0,
//-               lineWidth: 1
//-             },
//-             xAxis: {
//-               title: {
//-                 text: '1/sCr'
//-               },
//-               min:0,
//-               max:1.5,
//-               gridLineWidth: 1,
//-               reversed:false,
//-               lineWidth: 0
//-             },
//-             tooltip:{
//-               headerFormat: '',
//-               pointFormat: '{series.name}: <b>{point.x}</b><br/>'
//-             },
//-             series: [{
//-               data: [[1.17647058823529, -260], [1.19047619047619, -259], [1.14942528735632, -258], [1.11111111111111, -256], [1.19047619047619, -250], [1.17647058823529, -246], [1.13636363636364, -236], [1.11111111111111, -215], [1.04166666666667, -196], [0.970873786407767, -187], [1.11111111111111, -160], [1.04166666666667, -132], [1.12359550561798, -83], [0.65359477124183, -27], [0.526315789473684, -5], [0.5, -4], [0.492610837438424, 0], [0.492610837438424, 2], [0.50761421319797, 4], [0.50251256281407, 6], [0.510204081632653, 8], [0.526315789473684, 10], [0.555555555555556, 13], [0.537634408602151, 15], [0.518134715025907, 16], [0.561797752808989, 18], [0.625, 21], [0.680272108843537, 24], [0.680272108843537, 27], [0.689655172413793, 29], [0.75187969924812, 31], [0.884955752212389, 34], [0.892857142857143, 36], [0.900900900900901, 38], [0.826446280991736, 45], [0.746268656716418, 59], [0.840336134453782, 62], [0.847457627118644, 64]]},
//-               {
//-                 name:"1/sCr",
//-                 type: 'columnrange',
//-                 borderWidth: 30,
//-                 dataLabels:{
//-                   enabled: true,
//-                   inside:true,
//-                   format:"{point.name}",
//-                   verticalAlign: "middle"
//-                 },
//-                 data: [{
//-                       x: 1,
//-                       low: -50,
//-                       high: 100,
//-                       name: "Point2",
//-                       color:'#ccc'
//-                   }
//-                 ]
//-               }
//-             ]
//-         });
//-        if (!updating) {
//-         updating = true;
//-         myChart.yAxis[0].setExtremes(0, 64);
//-         myChart.showResetZoom();
//-       }
//-     }); 

//- section
//-   h2 入院後経過
//-   ul
//-     li 各種自己抗体陰性、尿中β2MG, NAG高値
//-     li CTでは両腎・腎盂尿管に異常なし<br>➡ 腎後性は否定的
//-     li USで両側腎血流は正常で、MRI上も両側腎動脈の狭窄なし <br>
//-       | FENa 1.9%, FEUN 45.2%であり、入院前のhydration奏功せず<br>
//-       | ➡腎前性は否定的 

//- section
//-   p 腎後性は否定的で補液に反応が乏しく腎性腎不全と診断、薬剤性を疑い上記内服を休止した。第14病日Gaシンチグラフィーで両腎への集積を認め、第16病日に腎生検を施行、間質への炎症細胞浸潤と間質浮腫を認め急性間質性腎炎と診断した。DLSTではエソメプラゾール陽性、ロスバスタチンはカットオフ値と同程度であり、両者の関与を否定できなかった。第19病日ステロイド投薬を開始、以後第39病日には血清Cr 1.1mg/dlに改善した。  
