section
  h1 高熱とCRP上昇を伴って発症し当初鑑別に苦慮したA型急性
    br
    | 肝炎の一例
  h4 東京逓信病院 消化器内科　*同血液内科  **同病理科
  p
    | 平川雄亮、北村和貴子、古谷建悟、加藤知爾
    br
    | 大久保政雄、小林克也、関川憲一郎、光井 洋、橋本直明
    br
    | *水地大輔、**岸田由起子、**田村浩一
section
  h3 日本内科学会 関東地方会
    br
    | 発表者のCOI開示
  .text-center 演題発表に関連し、発表者らに開示すべき<br>COI関係にある企業などはありません。

section
  h2 はじめに
  p: em 診断に苦慮したのは、入院後<strong>「最初の一週間」</strong>です
  p: em 理由は...
  ul.list
    li 肝逸脱酵素が<em>3日間以上</em>上昇傾向
    li 高熱とCRP高値(6〜7 mg/dl)が<em>1週間</em>持続
    li 異型リンパ球が<em>40%</em>まで上昇
    li <em>sIL2R・フェリチン</em>が共に高値
    li 血小板が9万→7万に3日間で減少
    li 病理で<em>interface hepatitis</em>(慢性肝炎で典型的)の所見あり
section
  h2 症例：54歳、男性
  dl 
    dt 主訴   
    dd 全身倦怠感、発熱  
    
  dl 
    dt 現病歴  
    dd 入院4日前より全身倦怠感を自覚し、38.4℃の発熱を認めた。   
    dd 安静臥床で経過観察したが、発熱が持続し、   
    dd 入院前日には40℃まで上昇したため、前医を受診。    
    dd 高度肝機能障害、胆道系酵素上昇と炎症反応上昇あり、    
    dd 翌日に当科紹介。同日当科入院。(第1病日)

section.indent
  h2 症例: 54歳、男性
  dl.dl-horizontal
    dt 既往歴
    dd 特記事項なし   
  dl.dl-horizontal
    dt 内服歴
    dd なし   
  dl.dl-horizontal
    dt アレルギー
    dd drug: ペニシリンでアナフィラキシーショック(幼少期)  
    dd food: なし、喘息：なし
  dl.dl-horizontal
    dt 家族歴
    dd B・C型肝炎の家族歴なし、その他特記事項なし    
  dl.dl-horizontal
    dt 生活歴
    dd 飲酒： ワインボトル1/2本+ウイスキー水割り1-2杯/日  
    dd 喫煙： なし  
    dd 摂取歴： 直近で生魚、猪、鹿、豚肉等の摂取なし  
    dd 性交歴： 不特定多数との性交なし  
    dd 輸血歴：なし　　
    dd 海外渡航歴：なし  
section 
  h2 入院時現症
  dl.dl-horizontal
    dt 全身
    dd JCS-0, 身長 185 cm, 体重 71.90 kg, BMI 21.0 kg/㎡  
  dl.dl-horizontal
    dt Vital
    dd <strong>BT 39.1 ℃</strong>, PR 92 bpm, BP 110/80 mmHg, 
    dd SpO2 96 %
  
  dl.dl-horizontal
    dt 頭頸部
    dd 眼瞼結膜貧血なし, 眼球結膜黄染なし, 
    dd: strong 頸部・鎖骨上・腋窩リンパ節腫脹あり, 
    dd 咽頭発赤なし, 口腔内白苔なし   
  dl.dl-horizontal
    dt 胸部
    dd 肺野・心音異常なし  
  dl.dl-horizontal
    dt 腹部
    dd 平坦/軟, 圧痛なし, 腸蠕動音正常, 脾臓は触知せず  
  dl.dl-horizontal
    dt 四肢
    dd 下腿浮腫なし, 末梢冷感なし, 足背動脈触知可  
section
  h2 検査結果
  .row
    .col-xs-4
      table.table.table-condensed(style="margin-top:-10px;font-size: 140%;")
        tr
          td: em 血算
          td
          td
        tr
          td WBC
          td 3800
          td /μl
        tr
          td Hb
          td 15
          td g /dl
        tr
          td Hct
          td 43.7
          td %
        tr.blue
          td Plt
          td 9.2
          td 万/μl
        tr
          td: em 凝固
          td
          td
        tr.blue
          td PT
          td 65.5
          td %
        tr.red
          td D-Dimer
          td 2.5
          td μg/ml
    .col-xs-4
      table.table.table-condensed(style="margin-top:-10px;font-size: 140%;")
        tr
          td: em 生化学
          td
          td
        tr
          td Na
          td 132.9
          td mEq/l
        tr
          td K
          td 4.2
          td mEq/
        tr
          td Cl
          td 95.6
          td mEq/
        tr.red
          td ALP
          td 741
          td IU/l
        tr.red
          td AST
          td 718
          td IU/l
        tr.red
          td ALT
          td 422
          td IU/l
        tr
          td T.Bill
          td 0.7
          td mg/dl
        tr
          td D.Bil
          td 0.3
          td mg/dl
        tr.red
          td γ-GTP
          td 354
          td IU/l
        tr.red
          td LDH
          td 652
          td IU/l
        tr
          td Alb
          td 3.9
          td g/dl
        tr
          td BUN
          td 15.8
          td mg/dl
        tr
          td Cre
          td 1.04
          td mg/dl
        tr
          td UA
          td 4.1
          td mg/dl
    .col-xs-4
      table.table.table-condensed(style="margin-top:-10px;font-size: 140%;")
        tr
          td: em 免疫
          td
          td
        tr.red
          td CRP
          td 6.43
          td mg/dl
        tr.blue
          td IgA
          td 97
          td mg/dl
        tr
          td IgG
          td 1214
          td mg/dl
        tr
          td ET
          td <0.8
          td
        tr.red
          td PCT
          td 0.56
          td ng/ml
        tr
          td AMA
          td 2.1
          td
        tr
          td ANA
          td (-)
          td
        tr.red
          td sIL-2R
          td 1490
          td
        tr
          td CA19-9
          td 11.6
          td U/ml
        tr
          td CEA
          td 0.6
          td ng/ml
section
  section(data-background-color='#000000' data-background-video=src+"/acuteHepatitisA_0605_2.mp4" controls='controls')
    p.bg-caption 造影CT 門脈相
  section(data-background-color='#000000')
    video(width='1280', height='650', controls='controls' data-autoplay)
      source(src=src+'/acuteHepatitisA_0605_2.mp4', type='video/mp4')

section
  h2 臨床経過
  .row
    .col-xs-8
      #container1.md-tm-0(style="width:auto; height:600px;")
    .col-xs-4.md-pl-40
      //- ul.md-pt-40.md-mt-40
        //- li.fg-3 EBV + HPSの可能性
        //-   br 
        //-   | ➡第3病日：骨髄穿刺施行
        //-   br
        //-   | ➡ HPSは否定的
        //- li.fg-20 m-PSL250mg/日開始
        //- li.fg-20 ➡肝胆道系酵素はpeek out
        //- li.fg-30 第6病日：肝生検施行
      p: em 鑑別
      ul
        li 肝炎ウイルス
        li 伝染性単核球症
        li 自己免疫性
        li 薬剤性
        li アルコール性
        li 脂肪肝
        li うっ血性
        li.fg-4.gray Lymphoma/HPS
      .invisible-counter.fg-1
      .invisible-counter.fg-2
      .invisible-counter.fg-5
      .invisible-counter.fg-6
      .invisible-counter.fg-8
      .invisible-counter.fg-9
        //-   br
        //-   | 各種ウイルス血清検査が帰着
        //- p.fg-40: em IgM-HA 2.34
        //- p.fg-50: em ➡ A型急性肝炎？
  script.
    $(document).ready(()=> { 
      var myChart = Highcharts.chart('container1', {
          chart: {
            type: 'area',
            zoomType: 'x'
          },
          title: {
            text: ''
          },
          tooltip:{
            enabled: false
          },
          legend:{
            symbolPadding: 15,
            symbolRadius: 24,
            useHTML: true,  
            itemStyle:{
              "fontSize": "30px", 
              "fontWeight": "bold"
            }
          },
          yAxis: {
            title: {
              text: '酵素活性',
              offset:80
            },
            labels:{
              y: 7
            },
            tickAmount: 6
          },
          plotOptions: {
            series: {
              fillOpacity: 0,
              zoneAxis: 'x',
              lineWidth: 5,
              marker: {
                radius: 7
              }
            }
          },
          xAxis: {
            type: 'linear',
            allowDecimals: false,
            tickPixelInterval:120,
            labels:{
              y:30,
              formatter: function() {
                return this.value+1;
              }
            },
            title: {
              text: '入院後日数'
            },
            plotBands: [{
              color: '#ccc', // Color value
              className: 'fg-3', // Style of the plot line. Default to solid
              from: 1.9, // Value of where the line will appear
              to: 2.1,
              zIndex:1, // Width of the line  
              label:{
                text: "<em class='fg-3 balloon'>骨髄穿刺</em>",
                useHTML:true
              }},{
              color: '#ccc', // Color value
              className: 'fg-10', // Style of the plot line. Default to solid
              from: 4.9, // Value of where the line will appear
              to: 5.1, // Width of the line  
              zIndex:2,
              label:{
                text: "<em class='fg-10 balloon'>肝生検</em>",
                useHTML:true
              }},{
              color: '#eee', // Color value
              className: 'fg-7', // Style of the plot line. Default to solid
              from: 1.9, // Value of where the line will appear
              to: 4.9,
              zIndex:0,
              label:{
                text: "<em class='fg-7 gray-balloon'>m-PSL 250mg</em>",
                useHTML:true
              }}
            ]
          },
          series: [
            {
              name:"AST(IU/L)",
              marker: {
                enabled: true,
                radius: 3
              },
              data: [[0,718], [1,1488], [1.33,1831], [2,2140], [2.33,2407], [3,2130], [4,2050], [4.33,1350], [5,1237], [6,1196], [8,549], [12,251], [16,93], [20,65], [43,79], [71,33], [162,21]]
            },
            {
              name:"ALT(IU/L)",
              marker: {
                enabled: true,
                radius: 3
              },
              data: [[0,422], [1,952], [1.33,1313], [2,1765], [2.33,2084], [3,2430], [4,3860], [4.33,2930], [5,2620], [6,2310], [8,1610], [12,817], [16,357], [20,182], [43,130], [71,60], [162,16]]
            },{
              name:"LDH(IU/L)",
              marker: {
                enabled: true,
                radius: 3
              },
              data: [[0,652], [1,1164], [1.33,1341], [2,1447], [2.33,1530], [3,1461], [4,890], [4.33,559], [5,570], [6,521], [8,261], [12,161], [16,136], [20,142], [43,167], [71,133], [162,133]]
            },
            {
              name:"γ-GTP(IU/L)",
              marker: {
                enabled: true,
                radius: 3
              },
              data: [[0,354],[1,455],[1.33,512],[2,525],[2.33,542],[3,646],[4,544],[4.33,493],[5,509],[6,453],[8,511],[12,460],[16,342],[20,253],[43,105],[71,64],[162,42]]
            },
            {
              name:"ALP(IU/L)",
              marker: {
                enabled: true,
                radius: 3
              },
              data: [[0,741], [1,815], [1.33,905], [2,941], [2.33,1018], [3,1131], [4,1110], [4.33,855], [5,901], [6,720], [8,758], [12,794], [16,701], [20,629], [43,320], [71,246], [162,211]]
            }, {
              name:"T.Bil(mg/dl)",
              marker: {
                enabled: true,
                radius: 3
              },
              data: [[0,0.7], [1,0.9], [1.33,1], [2,1.2], [2.33,1.6], [3,2.7], [4,2.9], [4.33,2.8], [5,3.1], [6,3.6], [8,4.9], [12,2.4], [16,1.9], [20,1.3], [43,0.9], [71,0.6], [162,0.5]]
            },{
              name:"D.Bil(mg/dl)",
              marker: {
                enabled: true,
                radius: 3
              },
              data: [[0,0.3], [1,0.4], [1.33,0.6], [2,0.8], [2.33,1.2], [3,2.1], [4,2.4], [4.33,2.3], [5,2.5], [6,2.9], [8,4.1], [12,1.8], [16,1.2], [20,0.9], [43,0.5], [71,0.3], [162,0.1]]
            },{
              name:"CRP(mg/dl)",
              marker: {
                enabled: true,
                radius: 3
              },
              data: [[0,6.43], [1,6.7], [1.33,7.08], [2,6.41], [2.33,5.96], [3,6.47], [4,3.55], [4.33,2.69], [5,2.07], [6,1.3], [8,0.86], [12,0.59], [16,0.31], [20,0.27], [43,0.09], [71,0.07], [162,0.06]]
            },{
              name:"WBC(10^3)",
              marker: {
                enabled: true,
                radius: 3
              },
              data: [[0,3.8],[1,2.3],[1.33,2.2],[2,2.8],[2.33,2.8],[3,1.7],[4,7.2],[4.33,7.7],[5,11.8],[6,9.5],[8,5.8],[12,4.2],[16,3],[20,3.2],[43,4.9],[71,3.7],[162,3.9]]
            },{
              name:"PT%",
              marker: {
                enabled: true,
                radius: 3
              },
              data: [[1,73.4], [1.33,65.5], [2,67.7], [2.33,61.4], [3,76.5], [4,88.4], [4.33,93], [5,98.7], [6,95.3], [8,98.7], [12,93.7], [16,89], [20,92.1], [43,101.2]]
            },{
              name:"血小板(10^2)",
              data: [[0,920], [1,800], [1.33,760], [2,700], [2.33,680], [3,900], [4,1240], [4.33,1310], [5,1390], [6,1400], [8,1710], [12,1290], [16,1210], [20,1370], [43,1300], [71,1470], [162,1500]]
            },
            {
              name:"異型リンパ球(%)",
              data: [[0,1], [2,3], [2.33,1], [5,40], [6,27], [8,20], [12,10]]
            }                                           
          ]
      });
      var counter = 0;
      var series = myChart.series;
      var reset =()=> _.each(series,(data)=>{
          data.setVisible(false, false);
          data.update({ showInLegend: false}, false);
        }
      );
      var show_series=(list)=>{
        list.map((i)=>{
          series[i].show();
          series[i].update({ showInLegend: true }, false);
          }
        )
      }
      var show_series_only=(list)=>{
        reset();
        list.map((i)=>{
          series[i].show();
          series[i].update({ showInLegend: true }, false);
          }
        );
        myChart.redraw();
      }
      Reveal.addEventListener( 'fragmentshown', function( event ) {
        counter++;
        render(counter);
      });
      Reveal.addEventListener( 'fragmenthidden', function( event ) {
        counter--;
        render(counter);
      });
      Reveal.addEventListener( 'slidechanged', function( event ) {
         counter = 0;
         render(counter);
      });
      var render = (counter) =>{
        switch(counter){
          case 0:
            show_series_only([0,1,2]); 
            myChart.xAxis[0].setExtremes(0, 7);
            break;
          case 1:
            show_series_only([3,4]); break;
          case 2:
            show_series_only([10]); break;
          case 5:
            show_series_only([9]); break;
          case 6:
            show_series_only([7,8]); break;
          case 8:
            show_series_only([0,1,2]); break;
          case 9:
            show_series_only([3,4]); break;                        
          default: break; 
        }
      }
    }); 


section(data-background-image=src+'/AHV_histo1.png', data-background-repeat='repeat')

section
  h2 生検同日にウイルス血清検査が帰着
  .row
    .col-xs-6
      table.table.table-condensed(style="margin-top:-10px;font-size: 140%;")
        tr
          td: em ウイルス血清検査
          td
          td
        tr
          td CMV-IgG
          td.red 80
          td
        tr
          td CMV-IgM
          td.red < 4
          td
        tr
          td EBV-IgG
          td < 10
          td
        tr
          td EBV-IgM
          td < 10
          td
        tr
          td EBV-EBNA
          td 20
          td
        tr
          td HBsAb
          td 0.2
          td mIU/ml
        tr
          td HBeAb
          td 33
          td %
        tr
          td HBeAg
          td 0.1
          td COI
        tr
          td IgMHBcAb
          td 0.2
          td COI
        tr
          td HBcAb
          td 0.2
          td COI
        tr
          td HBVDNA
          td (ー）
          td
        tr.warning.fg-1.grow
          td IgMHA
          td.red 2.34
          td
        tr
          td HCVAbEIA
          td 0.1
          td COI
        tr
          td IgAHEVAb
          td (ー)
          td  
    .col-xs-6.md-pl-40
      p.md-ml-40.fg-2: em 診断
      br
      h3.fg-3 急性A型肝炎

section
  h2 その後の臨床経過
  .row
    .col-xs-12
      #container4.md-tm-0(style="width:auto; height:600px;")
      .invisible-counter.fg-2
  script.
    $(document).ready(()=> { 
      var myChart = Highcharts.chart('container4', {
          chart: {
            type: 'area',
            zoomType: 'x'
          },
          title: {
            text: ''
          },
          tooltip:{
            enabled: false
          },
          legend:{
            symbolPadding: 15,
            symbolRadius: 24,
            useHTML: true,  
            itemStyle:{
              "fontSize": "30px", 
              "fontWeight": "bold"
            }
          },
          yAxis: {
            title: {
              text: '酵素活性',
              offset:80
            },
            labels:{
              y: 7
            },
            tickAmount: 6
          },
          plotOptions: {
            series: {
              fillOpacity: 0,
              zoneAxis: 'x',
              lineWidth: 5,
              marker: {
                radius: 7
              }
            }
          },
          xAxis: {
            type: 'linear',
            allowDecimals: false,
            tickPixelInterval:150,
            labels:{
              y:30,
              formatter: function() {
                return this.value+1;
              }
            },
            title: {
              text: '入院後日数'
            },
            plotBands: [
            //- {
            //-   color: '#ccc', // Color value
            //-   from: 1.9, // Value of where the line will appear
            //-   to: 2.1,
            //-   zIndex:1, // Width of the line  
            //-   label:{
            //-     text: "<div class='balloon'>骨髄穿刺</div>",
            //-     useHTML:true
            //-   }},{
            //-   color: '#ccc', // Color value
            //-   from: 4.9, // Value of where the line will appear
            //-   to: 5.1, // Width of the line  
            //-   zIndex:2,
            //-   label:{
            //-     text: "<div class='balloon'>肝生検</div>",
            //-     useHTML:true
            //-   }},
              {
              color: '#eee', // Color value
              from: 1.9, // Value of where the line will appear
              to: 4.9,
              zIndex:0,
              label:{
                text: "<div class='gray-balloon'>m-PSL 250mg</div>",
                useHTML:true
              }},{
              color:{    
                linearGradient: { x1: 0, x2: 1, y1: 0, y2: 0 },
                stops: [
                    [0, '#ddd'],
                    [1, '#fff']
              ]}, // Color value
              className: 'fg-1 gradient-band', // Style of the plot line. Default to solid
              from: 5.1, // Value of where the line will appear
              to: 7,
              label:{
                text: "<div class='fg-1 gray-balloon'>速やかに中止</div>",
                useHTML:true
              } // Width of the line  
              },{
              color: '#ccc', // Color value
              className: 'fg-2', // Style of the plot line. Default to solid
              from: 19.9, // Value of where the line will appear
              to: 20.1, // Width of the line  
              zIndex:2,
              label:{
                text: "<em class='fg-2 balloon'>退院</em>",
                useHTML:true
              }}
            ]
          },
          series: [
            {
              name:"AST(IU/L)",
              marker: {
                enabled: true,
                radius: 3
              },
              data: [[0,718], [1,1488], [1.33,1831], [2,2140], [2.33,2407], [3,2130], [4,2050], [4.33,1350], [5,1237], [6,1196], [8,549], [12,251], [16,93], [20,65], [43,79], [71,33], [162,21]]
            },
            {
              name:"ALT(IU/L)",
              marker: {
                enabled: true,
                radius: 3
              },
              data: [[0,422], [1,952], [1.33,1313], [2,1765], [2.33,2084], [3,2430], [4,3860], [4.33,2930], [5,2620], [6,2310], [8,1610], [12,817], [16,357], [20,182], [43,130], [71,60], [162,16]]
            },{
              name:"LDH(IU/L)",
              marker: {
                enabled: true,
                radius: 3
              },
              data: [[0,652], [1,1164], [1.33,1341], [2,1447], [2.33,1530], [3,1461], [4,890], [4.33,559], [5,570], [6,521], [8,261], [12,161], [16,136], [20,142], [43,167], [71,133], [162,133]]
            },
            {
              name:"γ-GTP(IU/L)",
              marker: {
                enabled: true,
                radius: 3
              },
              data: [[0,354],[1,455],[1.33,512],[2,525],[2.33,542],[3,646],[4,544],[4.33,493],[5,509],[6,453],[8,511],[12,460],[16,342],[20,253],[43,105],[71,64],[162,42]]
            },
            {
              name:"ALP(IU/L)",
              marker: {
                enabled: true,
                radius: 3
              },
              data: [[0,741], [1,815], [1.33,905], [2,941], [2.33,1018], [3,1131], [4,1110], [4.33,855], [5,901], [6,720], [8,758], [12,794], [16,701], [20,629], [43,320], [71,246], [162,211]]
            }, {
              name:"T.Bil(mg/dl)",
              marker: {
                enabled: true,
                radius: 3
              },
              data: [[0,0.7], [1,0.9], [1.33,1], [2,1.2], [2.33,1.6], [3,2.7], [4,2.9], [4.33,2.8], [5,3.1], [6,3.6], [8,4.9], [12,2.4], [16,1.9], [20,1.3], [43,0.9], [71,0.6], [162,0.5]]
            },{
              name:"D.Bil(mg/dl)",
              marker: {
                enabled: true,
                radius: 3
              },
              data: [[0,0.3], [1,0.4], [1.33,0.6], [2,0.8], [2.33,1.2], [3,2.1], [4,2.4], [4.33,2.3], [5,2.5], [6,2.9], [8,4.1], [12,1.8], [16,1.2], [20,0.9], [43,0.5], [71,0.3], [162,0.1]]
            },{
              name:"CRP(mg/dl)",
              marker: {
                enabled: true,
                radius: 3
              },
              data: [[0,6.43], [1,6.7], [1.33,7.08], [2,6.41], [2.33,5.96], [3,6.47], [4,3.55], [4.33,2.69], [5,2.07], [6,1.3], [8,0.86], [12,0.59], [16,0.31], [20,0.27], [43,0.09], [71,0.07], [162,0.06]]
            },{
              name:"WBC(10^3)",
              marker: {
                enabled: true,
                radius: 3
              },
              data: [[0,3.8],[1,2.3],[1.33,2.2],[2,2.8],[2.33,2.8],[3,1.7],[4,7.2],[4.33,7.7],[5,11.8],[6,9.5],[8,5.8],[12,4.2],[16,3],[20,3.2],[43,4.9],[71,3.7],[162,3.9]]
            },{
              name:"PT%",
              marker: {
                enabled: true,
                radius: 3
              },
              data: [[1,73.4], [1.33,65.5], [2,67.7], [2.33,61.4], [3,76.5], [4,88.4], [4.33,93], [5,98.7], [6,95.3], [8,98.7], [12,93.7], [16,89], [20,92.1], [43,101.2]]
            },{
              name:"血小板(10^2)",
              data: [[0,920], [1,800], [1.33,760], [2,700], [2.33,680], [3,900], [4,1240], [4.33,1310], [5,1390], [6,1400], [8,1710], [12,1290], [16,1210], [20,1370], [43,1300], [71,1470], [162,1500]]
            },
            {
              name:"異型リンパ球(%)",
              data: [[0,1], [2,3], [2.33,1], [5,40], [6,27], [8,20], [12,10]]
            },{
              name:"IgM-HA抗体",
              data: [[1,2.34], [8,7.76], [16,6.16], [20,5.77], [43,3.74]]
            }                                                   
          ]
      });
      var counter = 0;
      var series = myChart.series;
      var reset =()=> _.each(series,(data)=>{
          data.setVisible(false, false);
          data.update({ showInLegend: false}, false);
        }
      );
      var show_series=(list)=>{
        list.map((i)=>{
          series[i].show();
          series[i].update({ showInLegend: true }, false);
          }
        )
      }
      var show_series_only=(list)=>{
        reset();
        list.map((i)=>{
          series[i].show();
          series[i].update({ showInLegend: true }, false);
          }
        );
        myChart.redraw();
      }
      Reveal.addEventListener( 'fragmentshown', function( event ) {
        counter++;
        render(counter);
      });
      Reveal.addEventListener( 'fragmenthidden', function( event ) {
        counter--;
        render(counter);
      });
      Reveal.addEventListener( 'slidechanged', function( event ) {
         counter = 0;
         render(counter);
      });
      var render = (counter) =>{
        switch(counter){
          case 0:
            show_series_only([0,1,2]); 
            myChart.xAxis[0].setExtremes(0, 21);
            break;                   
          default: break; 
        }
      }
    }); 



section(data-state="animation")
  h2#move なぜ診断に苦慮したか
  ul.list-unstyled 
    li#move1 1. 異型リンパ球が<em>40%</em>まで上昇
    li#move2 2. 高熱とCRP高値(6〜7 mg/dl)が<em>1週間</em>持続
    li#move3 3. sIL-2R、フェリチンの上昇
    li#move4 4. 血小板が7万まで減少
    li#move5(style="margin-left:5px") 5. 54歳男性
    li#move6(style="margin-left:5px") 6. 病理でinterface hepatitis
  .invisible-counter.fg
  script.
    $(document).ready(()=>{
      Reveal.addEventListener( "animation", function( event ) {
        Reveal.addEventListener( 'fragmentshown', function( event ) {
          anime({
            targets: '#move',
            translateY: '-149px',
            duration: '1000',
            easing: 'easeInOutQuad'
          });
          anime({
            targets: '#move1',
            translateY: '-90px',
            duration: '1000',
            easing: 'easeInOutQuad'
          });
          anime({
            targets: '#move2',
            translateY: '-90px',
            duration: '1000',
            easing: 'easeInOutQuad'
          });
          anime({
            targets: '#move3',
            translateY: '-11px',
            duration: '1000',
            easing: 'easeInOutQuad'
          });
          anime({
            targets: '#move4',
            translateY: '-11px',
            duration: '1000',
            easing: 'easeInOutQuad'
          });
          anime({
            targets: '#move5',
            translateY: '186px',
            duration: '1000',
            easing: 'easeInOutQuad'
          });
          anime({
            targets: '#move6',
            translateY: '186px',
            duration: '1000',
            easing: 'easeInOutQuad'
          });                                      
          done = true;
        });
      });

    })

section
  h2 なぜ診断に苦慮したか
  p.fg: em 伝染性単核球症？
  ul.list-unstyled 
    li 1. 異型リンパ球が<em>40%</em>まで上昇
    li 2. 高熱とCRP高値(6〜7 mg/dl)が<em>1週間</em>持続
  p.fg: em HPS/Lymphomaか？
  ul.list-unstyled
    li 3. sIL-2R、フェリチンの上昇
    li 4. 血小板が7万まで減少
  p.fg
    em 伝染性単核球症とHPSの合併？ 
    | ➡ ステロイド開始
  p.fg
    em 急性肝炎様自己免疫性肝炎？ 
    | ➡ 肝生検
  p.fg: em 矛盾点
  ul.list-inline.list-unstyled
    li 5. 54歳男性
    li.fg ↔ 伝染性単核球症と矛盾
  ul.list-inline.list-unstyled
    li 6. 病理でinterface hepatitis
    li.fg ↔ 急性肝障害と合わない！

section
  h2 最終的に急性A型肝炎と診断
  p: em 振り返ると...
  ul.list-unstyled.md-mb-20
    li 異型リンパ球が40%まで上昇
    li ➡ <em>急性A型肝炎</em>ではmax20%が普通。ステロイド投与の影響？
  ul.list-unstyled.md-mb-20
    li 肝逸脱酵素が3日間以上上昇傾向
    li ➡ <em>急性A型肝炎</em>では肝逸脱酵素がpeekの頃に受診することが多い
  ul.list-unstyled.md-mb-20
    li 本例は54歳男性
    li ➡ <em>急性A型肝炎</em>では好発年齢が上昇しつつある
  ul.list-unstyled.md-mb-20
    li 病理でinterface hepatitis
    li ➡ <em>急性A型肝炎</em>ではinterface hepatitis様の所見あり

section
  h2 結語
  p: em 高熱とCRP上昇を伴って発症し当初鑑別に苦慮した
    br
    | A型急性肝炎の一例を経験した

section
  h1 ご清聴有難うございました。

section 
  :markdown-it
    ## 結語

      * 今回、伝染性単核球症様の急性A型肝炎を経験した。
      * 衛生状態の改善で、抗体を持っていない**高齢発症例が増加**している。
      * **高齢発症は重篤化・非典型的な症状を呈する場合が多く**、  
      注意を要すると考え、症例報告とする。

section
  h2 伝染性単核球症様の急性A型肝炎
  .row
    .col-xs-6
      img.plain.img-rounded(src=src+'/AHV_study.png' style='width:100%')
      small CD4+-CD45RO+/CD4+ ↑
    .col-xs-6
      table.table.table-condensed.table-striped.md-mt-40.fg-1
        tr
          td
          td IM様A型肝炎
          td EBV感染
        tr
          td CD4/CD8
          td 1.23
          td ほとんど1以下
        tr
          td 機序
          td: strong memory B cellの活性化          
          td 感染Bリンパ球増殖<br>➡CTLの活性化
      .arrow-down.md-mt-20.fg-2
      ul.fg-3
        li 成因はEBVによるIMとは異なる
        li 高齢発症のA型肝炎はIM様の経過をたどる場合もまれではない
        li 高齢発症重篤化の一因

  p.reference Increase of atypical lymphocytes expressing CD4+/CD45RO+ in an infectious mononucleosis-like syndrome associated with hepatitis A virus infection Hidehiro Watanabe et.al J Infect Chemother (2009) 15:187–190 


section
  h2 検査
  img.plain.img-rounded(src=src+'/HAV_time_course.png')
  ul
    li.fragment 肝逸脱酵素(AST,ALT),ALP,LDHなどが上昇
    li.fragment 異型リンパ球 < 20%

      //- ul
      //-   li.fragment CD4/CD8 1.23と正常範囲内
      //-     br
      //-     | (EBV感染：CD8⇑,CD4/CD8↓)
      //-   li.fragment EBVによる異型リンパ球と成因が異なる
      //-   li.fragment 
      //-   li.fragment HAVによる異型リンパ球の増加はCD4+/CD45RO+(activated)リンパ球の過剰な活性化が原因?
section
  :markdown-it
    ## 結語
     * 今回,血小板減少と炎症反応の上昇及び異型リンパ球増多を伴った  
       急性A型肝炎を経験した
     * 本症例ではウイルス血清検査ではCMV, EBV感染は否定的であり,  
       HAV単独感染でも伝染性単核球症様の経過をたどる貴重な症例を経験した

section
  h2 参考文献
  ul
    li Increase of atypical lymphocytes expressing CD4+/CD45RO+ in an infectious 
      br
      | mononucleosis-like syndrome associated with hepatitis A virus infection
      br
      | Hidehiro Watanabe et.al J Infect Chemother (2009) 15:187–190 

section
  h2 補遺：病歴
  ul
    li 発症日の昼にランチと共にワイングラス2杯程度の飲酒量
section
  h2 気になるところ
  ul
    li 大人になるほどA型肝炎が重篤化するのはactivated memory cellが惹起されやすくなっている？
    li この症例でもCMV, EBVは既感染パターン
    li 以前にペニシリンアレルギーが出ているが,IMになっていた？

section
  h2 本症例の特徴
  .row 
    .col-xs-8
      ul.list
        li 54歳男性
        li 急性肝障害(入院後もT/Aが上昇を続けた)
        li.fg-1.background-red 高熱とCRP高値(6〜7 mg/dl)が<em>1週間</em>持続
        li.fg-1.background-red 異型リンパ球が<em>40%</em>まで上昇
        li.fg-2.background-blue sIL2R 1490, フェリチン〜と上昇
        li.fg-2.background-blue 血小板が9万→7万に3日間で減少
        li 病理でinterface hepatitisあり
    .col-xs-4
      p: em 鑑別
      ul
        li.fg-1.highlight-red HPS/Lymphoma
        li.fg-2.highlight-blue 伝染性単核球症
        li アルコール性
        li 薬剤性
        li 急性肝炎様自己免疫性肝炎

section
  h2 HPS/HLH診断基準（2009年のHLH-2004改訂案）
  p 以下のいずれかを満たせばHPS/HLHと診断される。
  ul
    li HPS/HLHまたはXLPの分子診断が得られる。
    li Aの4項目中3項目以上,Bの4項目中1項目以上を満たす。C項目はHPS/HLH診断を支持する。
  .row
    .col-xs-4
      p: em  A項目
      ul 
       li 発熱
       li 脾腫
       li 2系統以上の血球減少
       li 肝炎様所見
    .col-xs-4
      p: em  B項目
      ul
        li 血球貪食像
        li フェリチン上昇
        li 可溶性IL-2R上昇
        li NK細胞活性の低下または消失
    .col-xs-4
      p: em  C項目
      ul
        li 高トリグリセライド血症
        li 低フィブリノゲン血症
        li 低ナトリウム血症
section
  h2 高齢発症のA型肝炎が増えてきている
  .row
    .col-xs-7
      img.plain.img-rounded(src=src+'/AHV_epi2011.png')
      .arrow-down
      img.plain.img-rounded(src=src+'/AHV_epi2016.png')
    .col-xs-5
      .text-center 以前は若年者が多い病気
      .arrow-down
      .text-center 衛生状態の改善
      .arrow-down
      .text-center 高齢発症が増加
      br
      p.strong.md-ml-40.md-pl-40 高齢発症の方が重篤

section
  h2 Todo
  ul
    li em をindent
    li リンパ球の割合
    li 肝機能の評価,劇症化になってなかったか
    li IgM-HAの推移
    li table: font-size 上げる, stripe, 一色にする
    li Hbs, HCVを検査結果に書く
section
  h2 症状
  .row
    .col-xs-4.fragment
      img.plain.img-rounded(src=src+'/fever.png' style='width:250px')
    .col-xs-4.fragment
      img.plain.img-rounded(src=src+'/fatigue.png' style='width:200px')
    .col-xs-4.fragment
      img.plain.img-rounded(src=src+'/vomitting.png' style='width:250px')
//- section
//-   section
//-     h2 本当にA型肝炎？：その他の検査推移
//-     .row
//-       .col-xs-6
//-         #container3.md-tm-0(style="width:auto; height:600px;")
//-     script.
//-       $(document).ready(()=> { 
//-         var updating = false;
//-         var myChart = Highcharts.chart('container3', {
//-             chart: {
//-               zoomType: 'x'
//-             },
//-             title: {
//-               text: ''
//-             },
//-             xAxis: {
//-               type: 'linear',
//-               labels: {
//-                 formatter: function() {
//-                   return '第'+(this.value+1) + '病日';
//-                 }
//-               },
//-               title: {
//-                 text: '入院日数'
//-               }
//-             },
//-             yAxis: {
//-               title: {
//-                 text: '酵素活性'
//-               }
//-             },
//-             tooltip:{
//-               formatter:function(){
//-                 return '<span style="font-size: 10px">第'+(parseFloat(this.x)+1)+'病日</span><br/>'+this.series.name+": <b>"+this.y+"</b><br/>"
//-               }
//-             },
//-             series: [
//-             {
//-               name:"T.Bil",
//-               marker: {
//-                 enabled: true,
//-                 radius: 3
//-               },
//-               data: [[0,0.7], [1,0.9], [1.33,1], [2,1.2], [2.33,1.6], [3,2.7], [4,2.9], [4.33,2.8], [5,3.1], [6,3.6], [8,4.9], [12,2.4], [16,1.9], [20,1.3], [43,0.9], [71,0.6], [162,0.5]]
//-             },{
//-               name:"D.Bil",
//-               marker: {
//-                 enabled: true,
//-                 radius: 3
//-               },
//-               data: [[0,0.3], [1,0.4], [1.33,0.6], [2,0.8], [2.33,1.2], [3,2.1], [4,2.4], [4.33,2.3], [5,2.5], [6,2.9], [8,4.1], [12,1.8], [16,1.2], [20,0.9], [43,0.5], [71,0.3], [162,0.1]]
//-             },{
//-               name:"CRP",
//-               marker: {
//-                 enabled: true,
//-                 radius: 3
//-               },
//-               data: [[0,6.43], [1,6.7], [1.33,7.08], [2,6.41], [2.33,5.96], [3,6.47], [4,3.55], [4.33,2.69], [5,2.07], [6,1.3], [8,0.86], [12,0.59], [16,0.31], [20,0.27], [43,0.09], [71,0.07], [162,0.06]]
//-             },{
//-               name:"血小板(10^4)",
//-               marker: {
//-                 enabled: true,
//-                 radius: 3
//-               },
//-               data: [[0,9.2], [1,8], [1.33,7.6], [2,7], [2.33,6.8], [3,9], [4,12.4], [4.33,13.1], [5,13.9], [6,14], [8,17.1], [12,12.9], [16,12.1], [20,13.7], [43,13], [71,14.7], [162,15]]
//-             },{
//-               name:"異型リンパ球(%)",
//-               marker: {
//-                 enabled: true,
//-                 radius: 3
//-               },
//-               data: [[0,1], [2,3], [2.33,1], [5,40], [6,27], [8,20], [12,10]]
//-             }                                               
//-             ]
//-         });
//-         if (!updating) {
//-           updating = true;
//-           myChart.xAxis[0].setExtremes(0, 7);
//-           myChart.showResetZoom();
//-         }
//-       }); 
    
//- section
//-   h2 退院後経過
//-   .row
//-     .col-xs-8
//-       #container2(style="width:auto; height:600px;")
//-     .col-xs-4
      
//-   script.
//-     $(document).ready(function() { 
//-       var updating = false;
//-       var myChart = Highcharts.chart('container2', {
//-           chart: {
//-             zoomType: 'x'
//-           },
//-           title: {
//-             text: ''
//-           },
//-           xAxis: {
//-             type: 'linear',
//-             labels: {
//-               formatter: function() {
//-                 return '第'+this.value + '病日';
//-               }
//-             },
//-             title: {
//-               text: '入院前日数'
//-             }
//-           },
//-           yAxis: {
//-             title: {
//-               text: '1/sCr'
//-             }
//-           },
//-           series: [
//-             {
//-               name:"AST",
//-               marker: {
//-                 enabled: true,
//-                 radius: 3
//-               },
//-               data: [[0,718], [1,1488], [1.33,1831], [2,2140], [2.33,2407], [3,2130], [4,2050], [4.33,1350], [5,1237], [6,1196], [8,549], [12,251], [16,93], [20,65], [43,79], [71,33], [162,21]]
//-             },
//-             {
//-               name:"ALT",
//-               marker: {
//-                 enabled: true,
//-                 radius: 3
//-               },
//-               data: [[0,422], [1,952], [1.33,1313], [2,1765], [2.33,2084], [3,2430], [4,3860], [4.33,2930], [5,2620], [6,2310], [8,1610], [12,817], [16,357], [20,182], [43,130], [71,60], [162,16]]
//-             },
//-             {
//-               name:"γ-GTP",
//-               marker: {
//-                 enabled: true,
//-                 radius: 3
//-               },
//-               data: [[0,354],[1,455],[1.33,512],[2,525],[2.33,542],[3,646],[4,544],[4.33,493],[5,509],[6,453],[8,511],[12,460],[16,342],[20,253],[43,105],[71,64],[162,42]]
//-             },
//-             {
//-               name:"ALP",
//-               marker: {
//-                 enabled: true,
//-                 radius: 3
//-               },
//-               data: [[0,741], [1,815], [1.33,905], [2,941], [2.33,1018], [3,1131], [4,1110], [4.33,855], [5,901], [6,720], [8,758], [12,794], [16,701], [20,629], [43,320], [71,246], [162,211]]
//-             }                                          
//-           ]
//-       });
//-       if (!updating) {
//-         updating = true;
//-         myChart.xAxis[0].setExtremes(0, 21);
//-         myChart.showResetZoom();
//-       }
//-     }); 
//- series: [
//- {
//-   name:"AST",
//-   data: [[0,718], [1,1488], [1.33,1831], [2,2140], [2.33,2407], [3,2130], [4,2050], [4.33,1350], [5,1237], [6,1196], [8,549], [12,251], [16,93], [20,65], [43,79], [71,33], [162,21]]
//- },
//- {
//-   name:"ALT",
//-   data: [[0,422], [1,952], [1.33,1313], [2,1765], [2.33,2084], [3,2430], [4,3860], [4.33,2930], [5,2620], [6,2310], [8,1610], [12,817], [16,357], [20,182], [43,130], [71,60], [162,16]]
//- },
//- {
//-   name:"γ-GTP",
//-   data: [[0,354],[1,455],[1.33,512],[2,525],[2.33,542],[3,646],[4,544],[4.33,493],[5,509],[6,453],[8,511],[12,460],[16,342],[20,253],[43,105],[71,64],[162,42]]
//- },
//- {
//-   name:"ALP",
//-   data: [[0,741], [1,815], [1.33,905], [2,941], [2.33,1018], [3,1131], [4,1110], [4.33,855], [5,901], [6,720], [8,758], [12,794], [16,701], [20,629], [43,320], [71,246], [162,211]]
//- },{
//-     name:"血小板(10^2)",
//-     data: [[0,920], [1,800], [1.33,760], [2,700], [2.33,680], [3,900], [4,1240], [4.33,1310], [5,1390], [6,1400], [8,1710], [12,1290], [16,1210], [20,1370], [43,1300], [71,1470], [162,1500]]
//-   },{
//-     name:"異型リンパ球(%)",
//-     data: [[0,1], [2,3], [2.33,1], [5,40], [6,27], [8,20], [12,10]]
//-   },{
//-     name:"CRP",
//-     data: [[0,6.43], [1,6.7], [1.33,7.08], [2,6.41], [2.33,5.96], [3,6.47], [4,3.55], [4.33,2.69], [5,2.07], [6,1.3], [8,0.86], [12,0.59], [16,0.31], [20,0.27], [43,0.09], [71,0.07], [162,0.06]]
//-   }                                               
//- ]